<%= form_tag "/admin/languages/save", :method => "POST", :id => 'admin_item_add_edit_form' do %>
    <p class="admin-error-box">Please fill in all fields</p>
    <input type="hidden" name="add_new" value="<%= add_new %>" />
    <input type="hidden" name="id" value="<%= id  %>" />
    <div class="wl-field">
        <label for="language_title">Language Name</label>
        <input type="text" id="language_title" name="language_title" value="<%= language.title if language %>"  />
    </div>
    <div class="wl-field">
        <label for="language_code">Code</label>
        <input type="text" id="language_code" name="language_code" maxlength="2" size="1" value="<%= language.code if language %>" />
    </div>
    <div class="wl-field">
        <label for="language_region">Region</label>
        <input type="text" id="language_region" name="language_region" maxlength="2" size="1" value="<%= language.region if language %>" />
    </div>
    <button class="wl-button wl-overlay-button" type="submit"><% if add_new == true %>Add Language<% else %>Save Changes<% end %></button>
    <% if add_new != true %>
        <a class="wl-bold wl-regular-link" href="/admin/options">Cancel</a>
    <% end %>
<% end %>