<nav id="lhnavigation_container">
  <% if params[:action].eql?"widgets" %>
  <h1 class="wl-bold">All Widgets</h1>
  <ul>
      <li<% if !params[:state] %> class="selected wl-bold"<% end %>>
        <div><%= link_to "Widgets to review", admin_path %></div>
      </li>
      <li<% if params[:state] %> class="selected wl-bold"<% end %>>
        <div><%= link_to "Declined widgets", admin_path(:state => State.declined) %></div>
      </li>
  </ul>
  <% elsif ["users", "adminusers"].include?(params[:action]) %>
  <h1 class="wl-bold">User Management</h1>
  <ul>
    <li class="navigation_item <% if params[:action].eql?("users") %> selected<% end %>"><div><%= link_to "All Users", admin_users_path %></div></li>
    <li class="navigation_item <% if params[:action].eql?("adminusers") %> selected<% end %>"><div><%= link_to "Admin Users", admin_admin_users_path %></div></li>
  </ul>
  <% elsif ["options", "languages", "edit_language", "categories", "edit_category", "save_language", "save_category"].include?(params[:action]) %>
  <h1 class="wl-bold">Widget Options</h1>
  <ul>
    <li class="navigation_item <% if ["options", "edit_language", "save_language"].include?(params[:action]) %> selected<% end %>"><div><%= link_to "Languages", admin_options_path %></div></li>
    <li class="navigation_item <% if ["categories", "edit_category", "save_category"].include?(params[:action]) %> selected<% end %>"><div><%= link_to "Categories", admin_categories_path %></div></li>
  </ul>
  <% elsif params[:action].eql?"statistics" %>
  <h1 class="wl-bold">Statistics</h1>
  <ul>
    <li <% if params[:action].eql?("statistics")%>class="selected" <% end %>>
      <div><%= link_to "Users and widgets", admin_statistics_path %></div>
    </li>
  </ul>
  <% end %>
</nav>
<hr class="wl-push wl-hidden"/>
