<% @users.each_with_index do |user, index| %>
    <% if index % 3 == 0 %>
        <div class="wl-push">
    <% end %>
    <li>
        <%= form_for user, :url => "/admin/users/update", :method => "POST", :remote => true do |f| %>
            <%= button_tag "Save", :class => "wl-no-script wl-button wl-link-button wl-save-fallback wl-right" %>
            <%= image_tag user.avatar.url(:thumb), :alt => "#{user.name}'s Photo", :class => "wl-left"%>
            <%= link_to user.name, user_path(:id => user.id, :url_title => user.url_title), :class => "wl-bold wl-regular-link", :target => "_blank" %>
            <br/>
            <input type="hidden" name="user_id" value="<%= user.id %>">
            <label class="label" for="chk_user_admin<%= user.id %>">Administrator:</label>
            <% if user_signed_in? && current_user.id != user.id %>
                <%= check_box_tag "chk_user_admin#{user.id}", 1, user.admin %>
            <% else %>
                <%= check_box_tag "chk_user_admin#{user.id}", 1, user.admin, :disabled => true %>
            <% end %>
            <label class="label" for="chk_user_reviewer<%= user.id %>">Reviewer:</label>
            <% if user_signed_in? && current_user.id != user.id %>
                <%= check_box_tag "chk_user_reviewer#{user.id}", 1, user.reviewer %>
                <%= link_to "Remove User", admin_delete_user_path(user), :confirm => "Are you sure you want to delete this user?", :class => "wl-button wl-overlay-button", :method => "delete" %>
            <% else %>
                <%= check_box_tag "chk_user_reviewer#{user.id}", 1, user.reviewer, :disabled => true %>
            <% end %>
        <% end %>
    </li>
    <% if (index + 1) % 3 == 0 %>
        </div>
    <% end %>
<% end %>
