<h4 class="api_function_header"><%= raw(display[:function]) %></h4>
<p><%= raw(display[:description]) %></p>
<div class="navigationalitems_codesnippit_container">
    <div class="navigationalitems_codesnippit_header">
        <h4>Arguments</h4>
    </div>
<pre id="javascript" class="prettyprint">
<%= raw(display[:parameters]) %>
</pre>
</div>

<div class="navigationalitems_codesnippit_container">
    <div class="navigationalitems_codesnippit_header">
        <h4>Callback / Return</h4>
    </div>
<pre id="javascript" class="prettyprint">
<%= raw(display[:callback]) %>
</pre>
</div>

<div class="navigationalitems_codesnippit_container">
    <div class="navigationalitems_codesnippit_header">
        <h4>Example</h4>
    </div>
<pre id="javascript" class="prettyprint black">
<%= raw(display[:example]) %>
</div>