<% if local_assigns[:function] %>
<h4 class="api_function_header"><%= raw(function) %></h4>
<% if local_assigns[:description] %>
<p><%= raw(description) %></p>
<% end %>
<% if local_assigns[:parameters] %>
<div class="navigationalitems_codesnippit_container">
    <div class="navigationalitems_codesnippit_header">
        <h4>Arguments</h4>
    </div>
<pre id="javascript" class="prettyprint">
<%= raw(parameters) %>
</pre>
</div>
<% end %>

<% if local_assigns[:callback] %>
<div class="navigationalitems_codesnippit_container">
    <div class="navigationalitems_codesnippit_header">
        <h4>Callback / Return</h4>
    </div>
<pre id="javascript" class="prettyprint">
<%= raw(callback) %>
</pre>
</div>
<% end %>

<% if local_assigns[:example] %>
<div class="navigationalitems_codesnippit_container">
    <div class="navigationalitems_codesnippit_header">
        <h4>Example</h4>
    </div>
<pre id="javascript" class="prettyprint black">
<%= raw(example) %>
</div>
<% end %>
<% end %>