<nav id="lhnavigation_container">
  <h1 class="wl-bold">Sakai OAE Widget SDK</h1>
  <ul>
      <li <% if params[:section].eql?("developwidget")%>class="selected"  <% elsif ["developwidget/learnbasics", "developwidget/codingstandards", "developwidget/quickdevsetup", "developwidget/fulldevsetup", "developwidget/widgetbuilder"].include?(params[:section])%>class="selected_parent"<% end %>><div><%= link_to "How to develop a widget", "/sdk/developwidget" %></div></li>
      <ul class="subnav" <% if !["developwidget", "developwidget/learnbasics", "developwidget/codingstandards", "developwidget/quickdevsetup", "developwidget/fulldevsetup", "developwidget/widgetbuilder"].include?(params[:section]) %> style="display:none;"<% end %>>
          <li <% if params[:section].eql?("developwidget/learnbasics")%>class="selected"<% end %>><div><%= link_to "Learn the basics, 'Hello World' tutorial", "/sdk/developwidget/learnbasics" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("developwidget/codingstandards")%>class="selected"<% end %>><div><%= link_to "Coding standards", "/sdk/developwidget/codingstandards" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("developwidget/quickdevsetup")%>class="selected"<% end %>><div><%= link_to "Quick development environment setup", "/sdk/developwidget/quickdevsetup" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("developwidget/fulldevsetup")%>class="selected"<% end %>><div><%= link_to "Full development environment setup", "/sdk/developwidget/fulldevsetup" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("developwidget/widgetbuilder")%>class="selected"<% end %>><div><%= link_to "Widget template builder", "/sdk/developwidget/widgetbuilder" %></div></li>
      </ul>

      <li <% if params[:section].eql?("examples")%>class="selected" <% elsif ["examples/worlddashboard", "examples/pagewidget"].include?(params[:section])%>class="selected_parent"<% end %>><div><%= link_to "Examples", "/sdk/examples" %></div></li>
      <ul class="subnav" <% if !["examples", "examples/worlddashboard", "examples/pagewidget"].include?(params[:section]) %> style="display:none;"<% end %>>
          <li <% if params[:section].eql?("examples/worlddashboard")%>class="selected"<% end %>><div><%= link_to "World dashboard widget", "/sdk/examples/worlddashboard" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("examples/pagewidget")%>class="selected"<% end %>><div>
              <%= link_to "Page widget", "/sdk/examples/pagewidget" %><hr class="wl-split-line"/></div></li>
      </ul>


      <li <% if params[:section].eql?("widgetdesignandstyle")%>class="selected" <% elsif ["widgetdesignandstyle/cssguide", "widgetdesignandstyle/reusablecss", "widgetdesignandstyle/typography", "widgetdesignandstyle/colorpalette", "widgetdesignandstyle/widgetexamples01", "widgetdesignandstyle/widgetexamples02", "widgetdesignandstyle/forms", "widgetdesignandstyle/navigationalitems", "widgetdesignandstyle/iconography", "widgetdesignandstyle/interactionmodels"].include?(params[:section])%>class="selected_parent"<% end %>><div><%= link_to "Widget design and style guide", "/sdk/widgetdesignandstyle" %></div></li>
      <ul class="subnav" <% if !["widgetdesignandstyle", "widgetdesignandstyle/cssguide", "widgetdesignandstyle/reusablecss", "widgetdesignandstyle/typography", "widgetdesignandstyle/colorpalette", "widgetdesignandstyle/widgetexamples01", "widgetdesignandstyle/widgetexamples02", "widgetdesignandstyle/forms", "widgetdesignandstyle/navigationalitems", "widgetdesignandstyle/iconography", "widgetdesignandstyle/interactionmodels"].include?(params[:section]) %> style="display:none;"<% end %>>
          <li <% if params[:section].eql?("widgetdesignandstyle/cssguide")%>class="selected"<% end %>><div><%= link_to "CSS Guide", "/sdk/widgetdesignandstyle/cssguide" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/reusablecss")%>class="selected"<% end %>><div><%= link_to "Reusable CSS", "/sdk/widgetdesignandstyle/reusablecss" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/typography")%>class="selected"<% end %>><div><%= link_to "Typography", "/sdk/widgetdesignandstyle/typography" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/colorpalette")%>class="selected"<% end %>><div><%= link_to "Color palette", "/sdk/widgetdesignandstyle/colorpalette" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/widgetexamples01")%>class="selected"<% end %>><div><%= link_to "Widget Examples 1", "/sdk/widgetdesignandstyle/widgetexamples01" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/widgetexamples02")%>class="selected"<% end %>><div><%= link_to "Widget Examples 2", "/sdk/widgetdesignandstyle/widgetexamples02" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/forms")%>class="selected"<% end %>><div><%= link_to "Forms", "/sdk/widgetdesignandstyle/forms" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/navigationalitems")%>class="selected"<% end %>><div><%= link_to "Navigation, Button usage and Link language", "/sdk/widgetdesignandstyle/navigationalitems" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/iconography")%>class="selected"<% end %>><div><%= link_to "Iconography", "/sdk/widgetdesignandstyle/iconography" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("widgetdesignandstyle/interactionmodels")%>class="selected"<% end %>><div><%= link_to "Interaction models", "/sdk/widgetdesignandstyle/interactionmodels" %></div></li>
      </ul>

      <li <% if ["services/frontend", "services/backend", "services/thirdparty"].include?(params[:section]) %>class="selected_parent"<% end %>><div><%= link_to "Back-end feed and UI API documentation", "/sdk/services/frontend" %></div></li>
      <ul class="subnav" <% if !["services/frontend", "services/backend", "services/thirdparty"].include?(params[:section]) %> style="display:none;"<% end %>>
          <li <% if params[:section].eql?("services/frontend")%>class="selected"<% end %>><div><%= link_to "Front-end Services", "/sdk/services/frontend" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("services/backend")%>class="selected"<% end %>><div><%= link_to "Back-end Services", "/sdk/services/backend" %><hr class="wl-split-line"/></div></li>
          <li <% if params[:section].eql?("services/thirdparty")%>class="selected"<% end %>><div><%= link_to "3rd Party Libraries", "/sdk/services/thirdparty" %><hr class="wl-split-line"/></div></li>
      </ul>

      <li <% if params[:section].eql?("faq")%>class="selected"<% end %>><div><%= link_to "FAQs", "/sdk/faq" %></div></li>
      <li <% if params[:section].eql?("help")%>class="selected"<% end %>><div><%= link_to "Getting help", "/sdk/help" %></div></li>
  </ul>
</nav>
<hr class="wl-push wl-hidden"/>