<% content_for :title do %> - SDK - Code style guide<% end %>
<div class="widgetsdk_container">
    <h1>Code style guide</h1>
    <p>Following these guidelines will improve readability and interoperability of your widgets.</p>

    <div class="wl-widget-item">
        <%= image_tag "developer_fulldev_icon.png", :alt => "Development setup", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>JavaScript</h2>
            <p>Add interactivity to your widget.</p>
            <%= link_to "View", "/sdk/codestyleguide/javascript", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
    </div>

    <div class="wl-widget-item first">
        <%= image_tag "developer_codingstandards_icon.png", :alt => "Learn the basics", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>HTML</h2>
            <p>The building blocks of every widget.</p>
            <%= link_to "View", "/sdk/codestyleguide/html", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_template_icon.png", :alt => "Widget template builder", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>CSS</h2>
            <p>Make your widget look great.</p>
            <%= link_to "View", "/sdk/codestyleguide/css", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
    </div>

    <hr class="wl-push wl-hidden"/>
</div>
