<% content_for :title do %> - SDK - Color palette<% end %>
<div id="colorpalette" class="widgetsdk_container">
    <h1>Color palette</h1>
    <p>This guide will help you style your widgets allowing them to fit seamlessly into the Apereo OAE suite of Widgets maintain a high standard for content presentation, and to maintain a high level of user experience across the system.</p>

    <div class="wl-widget-item">
        <h2>HEX colors</h2>
        <div class="hex_item">
            <div class="wl-left">
                <%= image_tag "hex_e0eff6_example.png", :alt => "HEX Color", :class => "descriptive_icon hex_icon" %>
                <p class="hex_value_text">e0eff6</p>
            </div>
            <div class="colorpalette_descriptive_text">
                <p>In page ‘system messages’ background colour</p>
                <span>To be used when there is the likelihood of there initially being no content in the widget.</span>
            </div>
            <div class="wl-left colorpalette_descriptive_text">
                <%= image_tag "hex_e0eff6_examplewidget.png", :alt => "HEX Color Example Widget", :class => "descriptive_icon hex_icon_example" %>
                <p>Example:</p>
                <span>Dashboard widget</span>
            </div>
            <hr class="wl-push wl-hidden"/>
        </div>

        <div class="hex_item">
            <div class="wl-left">
                <%= image_tag "hex_93d0ed-75b7d7_example.png", :alt => "HEX Color", :class => "descriptive_icon hex_icon" %>
                <p class="hex_value_text">93d0ed - 75b7d7</p>
            </div>
            <div class="colorpalette_descriptive_text">
                <p>In page ‘system messages’ background colour</p>
                <span>To be used when there is the likelihood of there initially being no content in the widget.</span>
            </div>
            <div class="wl-left colorpalette_descriptive_text">
                <%= image_tag "hex_93d0ed-75b7d7_examplewidget.png", :alt => "HEX Color Example Widget", :class => "descriptive_icon hex_icon_example" %>
                <p>Example:</p>
                <span>Dashboard widget</span>
            </div>
            <hr class="wl-push wl-hidden"/>
        </div>

        <div class="hex_item">
            <div class="wl-left">
                <%= image_tag "hex_323234_example.png", :alt => "HEX Color", :class => "descriptive_icon hex_icon" %>
                <p class="hex_value_text">323234</p>
            </div>
            <div class="colorpalette_descriptive_text">
                <p>Top right 'system messages' background color</p>
                <span>To be used when there is an automated system activity (e.g. adding an item to your library).</span>
            </div>
            <div class="wl-left colorpalette_descriptive_text">
                <%= image_tag "hex_323234_examplewidget.png", :alt => "HEX Color Example Widget", :class => "descriptive_icon hex_icon_example" %>
                <p>Example:</p>
                <span>System message</span>
            </div>
            <hr class="wl-push wl-hidden"/>
        </div>

        <div class="hex_item">
            <div class="wl-left">
                <%= image_tag "hex_888888-b0aeaf_example.png", :alt => "HEX Color", :class => "descriptive_icon hex_icon" %>
                <p class="hex_value_text">888888 - b0aeaf</p>
            </div>
            <div class="colorpalette_descriptive_text">
                <p>Top right 'system messages' icon gradient</p>
                <span>To be used when there is an automated system activity (e.g. adding an item to your library).</span>
            </div>
            <div class="wl-left colorpalette_descriptive_text">
                <%= image_tag "hex_888888-b0aeaf_examplewidget.png", :alt => "HEX Color Example Widget", :class => "descriptive_icon hex_icon_example" %>
                <p>Example:</p>
                <span>System message</span>
            </div>
            <hr class="wl-push wl-hidden"/>
        </div>

        <div class="hex_item">
            <div class="wl-left">
                <%= image_tag "hex_f1f9fc_example.png", :alt => "HEX Color", :class => "descriptive_icon hex_icon" %>
                <p class="hex_value_text">f1f9fc</p>
            </div>
            <div class="colorpalette_descriptive_text">
                <p>List item 'hover' color</p>
                <span>To be used when a module has a 'list' of content items.</span>
            </div>
            <div class="wl-left colorpalette_descriptive_text">
                <%= image_tag "hex_f1f9fc_examplewidget.png", :alt => "HEX Color Example Widget", :class => "descriptive_icon hex_icon_example" %>
                <p>Example:</p>
                <span>Content list</span>
            </div>
            <hr class="wl-push wl-hidden"/>
        </div>

        <div class="hex_item">
            <div class="wl-left">
                <%= image_tag "hex_e2e2e2_example.png", :alt => "HEX Color", :class => "descriptive_icon hex_icon" %>
                <p class="hex_value_text">e2e2e2</p>
            </div>
            <div class="colorpalette_descriptive_text">
                <p>Top content divider</p>
                <span>To be used as a divider between the page heading and content</span>
            </div>
            <div class="wl-left colorpalette_descriptive_text">
                <%= image_tag "hex_e2e2e2_examplewidget.png", :alt => "HEX Color Example Widget", :class => "descriptive_icon hex_icon_example" %>
                <p>Example:</p>
                <span>Dashboard widget</span>
            </div>
            <hr class="wl-push wl-hidden"/>
        </div>

        <div class="hex_item">
            <div class="wl-left">
                <%= image_tag "hex_cc0000_example.png", :alt => "HEX Color", :class => "descriptive_icon hex_icon" %>
                <p class="hex_value_text">cc0000</p>
            </div>
            <div class="colorpalette_descriptive_text">
                <p>Validation message background color</p>
                <span>To be used in lists where the input text needs to be validated.</span>
            </div>
            <div class="wl-left colorpalette_descriptive_text">
                <%= image_tag "hex_cc0000_examplewidget.png", :alt => "HEX Color Example Widget", :class => "descriptive_icon hex_icon_example" %>
                <p>Example:</p>
                <span>Form validation</span>
            </div>
            <hr class="wl-push wl-hidden"/>
        </div>
    </div>
    <hr class="wl-push wl-hidden"/>
    <%= render :partial => "sdk/feedback" %>
</div>
