<% content_for :title do %> - SDK - Help<% end %>
<div id="faq" class="widgetsdk_container">
    <h1>Sakai is a very helpful community</h1>
    <p>There are a number of ways you can get in touch with members of the community if you need help or want to share your ideas.</p>

    <div class="wl-widget-item">
        <h2>IRC</h2>
        <p>You can almost always find a 3akai-UX (Sakai OAE frontend codename) Developer or Nakamura (Sakai OAE backend codename) Developer in the Sakai IRC group chat room. The purpose of this space is to get quick answers to issues you are having and for group discussions on various issues. All are welcome.</p>
        <p>To join:</p>
        <p>1. You will need an IRC Client:</p>
        <ul class="inline_list">
            <li>Online (any platform): <%= link_to "Freenode Webchat", "http://webchat.freenode.net/", :class => "wl-regular-link" %></li>
            <li>Windows: <%= link_to "mIRC", "http://www.mirc.com/", :class => "wl-regular-link" %>, <%= link_to "XChat", "http://xchat.org/", :class => "wl-regular-link" %></li>
            <li>Linux: <%= link_to "XChat", "http://xchat.org/", :class => "wl-regular-link" %></li>
            <li>Mac OS X: <%= link_to "Colloquy", "http://colloquy.info/", :class => "wl-regular-link" %></li>
        </ul>
        <p>2. Connect to the server: <b><i>irc.freenode.net</i></b> (if using <%= link_to "Freenode Webchat", "http://webchat.freenode.net/", :class => "wl-regular-link" %>, you are automatically connected to this server)</p>
        <p>3. Use a nickname that describes you</p>
        <p>4. Once connected to the server, join room (also known as a 'channel'): <b>#sakai</b></p>
        <p>This chat room is archived at: <%= link_to "http://sakai.iriscouch.com/irc/_design/viewer/index.html", "http://sakai.iriscouch.com/irc/_design/viewer/index.html", :class => "wl-regular-link" %> and the logs for the previous 24 hours are sent to the oae-dev list at midnight UTC.</p>
        <p>For example widgets that have been heavily documented in this Widget SDK documentation, see the Widget Examples page.</p>
        <h2>Email</h2>
        <p>The Sakai community relies heavily on email lists for communication. Questions and ideas are welcome from anyone on these lists but you must sign up before you can send to the lists.</p>
        <ul class="inline_list">
            <li>Sakai OAE development: <%= link_to "oae-dev@collab.sakaiproject.org", "http://collab.sakaiproject.org/mailman/listinfo/oae-dev", :class => "wl-regular-link" %> (sign up) (archive)</li>
        </ul>
    </div>
    <%= render :partial => "sdk/feedback" %>
</div>
