<% content_for :title do %> - SDK - Design guide<% end %>
<div class="widgetsdk_container">
    <h1>Design guide</h1>
    <p>Style your widgets and allow them to fit seamlessly into the Sakai OAE suite of Widgets. So we can maintain a high standard for content presentation and a high level of user experience across the system.</p>

    <div class="wl-widget-item">
        <%= image_tag "developer_colorpalette_icon.png", :alt => "Color palette", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Color palette</h2>
            <p>The main colours used within Sakai OAE for all aspects of the interface. From the hover states of lists to the colors used in the system messages.</p>
            <%= link_to "View", "/sdk/designguide/colorpalette", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_template_icon.png", :alt => "Forms", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Forms</h2>
            <p>Display forms within your widget.</p>
            <%= link_to "View", "/sdk/designguide/forms", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_speechbubble_icon.png", :alt => "Iconography", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Iconography</h2>
            <p>The generic style of icons has to adhere to a few basic rules. The examples here will show you ho to creat your own icons to gel with the Sakai OAE icon family.</p>
            <%= link_to "View", "/sdk/designguide/iconography", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_interaction_icon.png", :alt => "Interaction models", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Interaction models</h2>
            <p>Forms and  validation, dropdowns, expandable panels, widget settings</p>
            <%= link_to "View", "/sdk/designguide/interactionmodels", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_navbuttonlinkusage_icon.png", :alt => "Links &amp; buttons", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Links &amp; buttons</h2>
            <p>All states of navigational items, be they primary, secondary or tertiatry for use within the page widgets, headers, and overlays.</p>
            <%= link_to "View", "/sdk/designguide/navigationalitems", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_typehierarchy_icon.png", :alt => "Typography", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Typography</h2>
            <p>All typographic sizes for headers and body copy.</p>
            <%= link_to "View", "/sdk/designguide/typography", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_template_icon.png", :alt => "Widget designs", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Widget designs</h2>
            <p>Examples of designs of other widgets in the system.</p>
            <%= link_to "View", "/sdk/designguide/widgetdesigns", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <hr class="wl-push wl-hidden"/>
</div>