<% content_for :title do %> - SDK - Develop a widget<% end %>
<div id="developwidget" class="widgetsdk_container">
    <h1>Develop a widget</h1>
    <p>Join us in making some great OAE Widgets.</p>

    <div class="wl-widget-item">
        <%= image_tag "developer_quickdev_icon.png", :alt => "Quick setup", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Quick setup</h2>
            <p>Get Sakai OAE up and running for front-end development.</p>
            <%= link_to "View", "/sdk/developwidget/quicksetup", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_fulldev_icon.png", :alt => "OAE-Builder setup", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>OAE-Builder setup</h2>
            <p>While it's possible to quickly setup Sakai OAE, if you would like to be able to use the latest version of nakamura and add dummy data, we recommend the OAE-Builder.</p>
            <%= link_to "View", "/sdk/developwidget/devsetup", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_basics_icon.png", :alt => "Learn the basics", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>'Hello World' tutorial</h2>
            <p>Dive into the world of Sakai OAE widget development. With this tutorial you'll be able to create your first widget and show it to the world.</p>
            <%= link_to "Let's begin", "/sdk/developwidget/learnbasics", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_widgetbuilder_icon.png", :alt => "Widget template builder", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Widget template builder</h2>
            <p>Creating the right HTML, JavaScript and CSS files for a widget can be tedious. The widget template builder automatically generates those for you.</p>
            <%= link_to "Let's go", "/sdk/developwidget/widgetbuilder", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
    </div>
    <div class="wl-widget-item">
        <%= image_tag "developer_examples_icon.png", :alt => "Git basics", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Git basics</h2>
            <p>Creating the right HTML, JavaScript and CSS files for a widget can be tedious. The widget template builder automatically generates those for you.</p>
            <%= link_to "Let's go", "/sdk/developwidget/widgetbuilder", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
    </div>
    <hr class="wl-push wl-hidden"/>
</div>
