<% content_for :title do %> - SDK - FAQ<% end %>
<div id="faq" class="widgetsdk_container">
    <h1>FAQ about Sakai OAE Widget development</h1>

    <ul class="inline_list">
        <li>
            <%= link_to "Development Questions", "#developmentquestions", :class => "wl-regular-link", :title => "Development Questions" %>
            <ul class="inline_list">
                <li><%= link_to "What kinds of technologies do I need to know to develop Sakai OAE widgets? How much experience will I need?", "#experience", :class => "wl-regular-link", :title => "What kinds of technologies do I need to know to develop Sakai OAE widgets? How much experience will I need?" %></li>
                <li><%= link_to "How do I get and install Sakai OAE?", "#installation", :class => "wl-regular-link", :title => "How do I get and install Sakai OAE?" %></li>
                <li><%= link_to "Where do I find detailed documentation on the services that are available for use in my widgets?", "#documentation", :class => "wl-regular-link", :title => "Where do I find detailed documentation on the services that are available for use in my widgets?" %></li>
                <li><%= link_to "How can I use external JavaScript files and libraries within my widget?", "#requirejs", :class => "wl-regular-link", :title => "How can I use external JavaScript files and libraries within my widget?" %></li>
            </ul>
        </li>
        <li>
            <%= link_to "Contributing to Sakai OAE", "#contributing", :class => "wl-regular-link", :title => "Contributing to Sakai OAE" %>
            <ul class="inline_list">
                <li><%= link_to "How do I report a bug?", "#reportbugs", :class => "wl-regular-link", :title => "How do I report a bug?" %></li>
                <li><%= link_to "How do I suggest a feature?", "#suggestfeature", :class => "wl-regular-link", :title => "How do I suggest a feature?" %></li>
                <li><%= link_to "What is the best git workflow to use?", "#gitworkflow", :class => "wl-regular-link", :title => "What is the best git workflow to use?" %></li>
            </ul>
        </li>
        <li>
            <%= link_to "Sakai OAE Background information", "#backgroundinformation", :class => "wl-regular-link", :title => "Sakai OAE Background information" %>
            <ul class="inline_list">
                <li><%= link_to "How does Sakai OAE relate to Sakai CLE (the previous version of Sakai)?", "#clerelation", :class => "wl-regular-link", :title => "How does Sakai OAE relate to Sakai CLE (the previous version of Sakai)?" %></li>
                <li><%= link_to "What releases of Sakai OAE are currently available?", "#releases", :class => "wl-regular-link", :title => "What releases of Sakai OAE are currently available?" %></li>
                <li><%= link_to "What platform(s) does Sakai OAE run on?", "#platforms", :class => "wl-regular-link", :title => "What platform(s) does Sakai OAE run on?" %></li>
                <li><%= link_to "What browsers does the OAE support?", "#browsers", :class => "wl-regular-link", :title => "What browsers does the OAE support?" %></li>
                <li><%= link_to "How is Sakai OAE licensed?", "#license", :class => "wl-regular-link", :title => "How is Sakai OAE licensed?" %></li>
                <li><%= link_to "Do I need to buy or pay anything to create Sakai OAE widgets?", "#cost", :class => "wl-regular-link", :title => "Do I need to buy or pay anything to create Sakai OAE widgets?" %></li>
                <li><%= link_to "Where can I find working versions of Sakai OAE to experiment with or share with colleagues?", "#experiment", :class => "wl-regular-link", :title => "Where can I find working versions of Sakai OAE to experiment with or share with colleagues?" %></li>
            </ul>
        </li>
    </ul>

    <div class="wl-widget-item">
        <h1 class="wl-regular-link no_decoration wl-normal" id="developmentquestions">Development Questions</h1>
        <h2 id="experience"><strong>Q: What kinds of technologies do I need to know to develop Sakai OAE widgets? How much experience will I need?</strong></h2>
        <p>A: Sakai OAE widgets use frontend web technologies such as HTML (for widget layout), CSS (for widget styling), JavaScript (for widget behavior) and JSON (for widget data management). jQuery is a major JavaScript library used throughout Sakai OAE widgets. Sakai OAE has been designed to make widget development very easy and the architecture of a Sakai OAE widget is relatively simple.</p>
        <p>If you are comfortable (but by no means an expert) with HTML, CSS, JavaScript/jQuery and JSON, you should have no problem at all in developing Sakai OAE widgets.</p>
        <p>If you are new to any of the above technologies, you can expect a bit of a ramp up period to get up-to-speed, but because Sakai OAE widgets have a relatively simple architecture, you will be able to quickly learn from other simple widgets within the codebase as examples.</p>
        <p>For example widgets that have been heavily documented in this Widget SDK documentation, see the Widget Examples page.</p>

        <h2 id="installation"><strong>Q: How do I get and install Sakai OAE?</strong></h2>
        <p>A: Depending on what you want to do with Sakai OAE, there are different methods for getting and installing Sakai OAE:</p>
        <ul class="inline_list">
            <li>for building, deploying and developing for Sakai OAE on your own machine, follow the instructions on the Quick development environment set up page.</li>
            <li>for simply running and experimenting with the latest Sakai OAE release on your own machine, you can download a one-click installer from the Sakai OAE release page. This will not allow you to see or change any of the Sakai OAE code.</li>
            <li>if you have trouble with the one-click installer, you may also download the binary package from the Sakai OAE release page and run the server yourself. This option will also not allow you to see or change any of the Sakai OAE code.</li>
        </ul>

        <h2 id="documentation"><strong>Q: Where do I find detailed documentation on the services that are available for use in my widgets?</strong></h2>
        <p>A: The Widget API section of this documentation contains information on front-end api, back-end endpoints and 3rd Party Services available to Sakai OAE widgets. If you are unable to find information on the service you are looking for, there may be additional locations that would be worthwhile to search:</p>
        <ul class="inline_list">
            <li>All Sakai OAE Widget API functions can be found in the various sakai.api JavaScript files located in the /dev/lib/sakai directory</li>
            <li>For information on services provided directly by the Sakai OAE server, check out these locations:
                <ul class="inline_list">
                    <li>Nakamura Documentation Wiki</li>
                    <li>Your local Sakai OAE server's built in documentation: <%= link_to "localhost:8080/system/doc", "http://localhost:8080/system/doc", :class => "wl-regular-link" %></li>
                </ul>
            </li>
        </ul>

        <h2 id="requirejs"><strong>Q: How can I use external JavaScript files and libraries within my widget?</strong></h2>
        <p>A: We use <%= link_to "RequireJS", "http://requirejs.org/", :title => "RequireJS", :class => "wl-regular-link", :target => "_blank" %> to handle loading JavaScript modules and dependencies. You simply add the path to your file at the end of the array of modules. For example, if you want to pull in a JavaScript file from Twitter, you can change this line:  </p>

        <div class="navigationalitems_codesnippit_container few_lines">
<pre class="prettyprint">
require(["jquery", "sakai/sakai.api.core"], function($, sakai) {
</pre>
        </div>
        <p>Into this:</p>
        <div class="navigationalitems_codesnippit_container few_lines">
<pre class="prettyprint">
require(["jquery", "sakai/sakai.api.core", "http://widgets.twimg.com/j/2/widget.js"], function($, sakai) {
</pre>
        </div>

        <p>If you cannot find what you are looking for, please feel free to contact the Sakai OAE developers.</p>
    </div>

    <div class="wl-widget-item">
        <h1 id="contributing" class="wl-regular-link no_decoration wl-normal">Contributing to Sakai OAE</h1>
        <h2 id="reportbugs"><strong>Q: How do I report a bug?</strong></h2>
        <p>A: Bugs can be reported in <%= link_to "our bug tracking system JIRA", "http://jira.sakaiproject.org", :title => "Sakai OAE bug tracking system JIRA", :class => "wl-regular-link", :target => "_blank" %> by Atlassian.</p>
        <h2 id="suggestfeature"><strong>Q: How do I suggest a feature?</strong></h2>
        <p>A: We encourage the community to post and vote ideas on the <%= link_to "Sakai OAE Idea Informer", "http://sakaioae.idea.informer.com/", :title => "Sakai OAE Idea Informer", :class => "wl-regular-link", :target => "_blank" %> page. The Idea Informer is taken into account when setting up goals for the future.</p> 
        <h2 id="gitworkflow"><strong>Q: What is the best git workflow to use?</strong></h2>
        <p>A: If you're looking for a detailed workflow for setting up your environment, take a look at the Full Dev Setup.</p>
        <p>There's a few ways of doing the same tasks with GIT, the following list has a few 'best practices' to take into account while developing for the OAE using the GIT version control system.</p>
        <ul class="inline_list">
            <li>Always start work on a new branch based on the master branch (keeps master clean and tidy + allows you to work on multiple widgets at once on different branches);</li>
            <li>Committing and pushing up your work regularly is always a good idea, you don't want to lose precious code and time by having to do it over because your machine failed;</li>
            <li>Use self-explanatory commit messages. OAE developers adopted the following commit message style: "JIRA_ID DESCRIPTION_OF_WORK". (e.g. "SAKIII-2849 Implement visual design for top navigation");</li>
            <li>Merge your code with the master branch on a regular basis. If merge conflicts occur you can take care of them immediately instead of having to go through your code again after you've submitted a widget;</li>
        </ul>
        <p>If you're looking for a guide to the most useful git commands take a look at the '<%= link_to "Git Basics", "/sdk/developwidget/gitbasics", :title => "Git Basics", :class => "wl-regular-link" %>' section.</p>
    </div>

    <div class="wl-widget-item">
        <h1 id="backgroundinformation" class="wl-regular-link no_decoration wl-normal">Sakai OAE Background information</h1>
        <h2 id="clerelation"><strong>Q: How does Sakai OAE relate to Sakai CLE (the previous version of Sakai)?</strong></h2>
        <h2 id="releases"><strong>Q: What releases of Sakai OAE are currently available?</strong></h2>
        <h2 id="platforms"><strong>Q: What platform(s) does Sakai OAE run on?</strong></h2>
        <h2 id="browsers"><strong>Q: What browsers does the OAE support?</strong></h2>
        <p>A: The OAE tries to support as many browsers as possible. However, due to the vast amount of browsers out there we support the 2 latest versions of the most popular browsers.</p>
        <ul class="inline_list">
            <li><%= link_to "Mozilla Firefox", "http://www.mozilla.org/firefox", :title => "Mozilla Firefox", :class => "wl-regular-link", :target => "_blank" %></li>
            <li><%= link_to "Microsoft Internet Explorer", "http://windows.microsoft.com/en-US/internet-explorer/products/ie/home", :title => "Microsoft Internet Explorer", :class => "wl-regular-link", :target => "_blank" %></li>
            <li><%= link_to "Google Chrome", "http://www.google.com/chrome/", :title => "Google Chrome", :class => "wl-regular-link", :target => "_blank" %></li>
            <li><%= link_to "Apple Safari", "http://www.apple.com/safari", :title => "Apple Safari", :class => "wl-regular-link", :target => "_blank" %></li>
        </ul>

        <p>For users to fully enjoy your widgets it's best to test them in these browsers before submitting them to the Widget Library.</p>
        <h2 id="license"><strong>Q: How is Sakai OAE licensed?</strong></h2>
        <p>A: Sakai OAE is released under the <%= link_to "Educational Community License version 2.0", "http://sakaiproject.org/foundation-licenses", :title => "Educational Community License version 2.0", :class => "wl-regular-link", :target => "blank" %>.</p>
        <h2 id="cost"><strong>Q: Do I need to buy or pay anything to create Sakai OAE widgets?</strong></h2>
        <p>A: Developing for Sakai OAE is free and we encourage everyone to participate and create widgets. Take a look at the '<%= link_to "Learn the basics, 'Hello World' tutorial", "/sdk/developwidget/learnbasics", :class => "wl-regular-link" %>' section to get started on your widget.</p>
        <h2 id="experiment"><strong>Q: Where can I find working versions of Sakai OAE to experiment with or share with colleagues?</strong></h2>
        <p>A: All latest versions will be announced on the <%= link_to "Sakai OAE release page", "http://sakaiproject.org/oae-release", :title => "Sakai OAE release page", :class => "wl-regular-link", :target => "blank" %>. This page has binaries, web start packages and links to the source code to get you started with the latest version of the Open Academic Environment.</p>
    </div>
</div>