<% content_for :title do %> - SDK - Help<% end %>
<div class="widgetsdk_container">
    <h1>Help</h1>
    <p>It's possible that you might run into an issue with Sakai OAE.<br/>
        If that's the case we would recommend having a look at our FAQ or you can contact us.</p>

    <div class="wl-widget-item">
        <%= image_tag "developer_faq_icon.png", :alt => "FAQ", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>FAQ</h2>
            <p>Frequently asked questions and answers about Sakai OAE widget development.</p>
            <%= link_to "View", "/sdk/help/faq", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_basics_icon.png", :alt => "Contact", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Contact</h2>
            <p>Get in touch with members of the community if you need help or want to share your ideas.</p>
            <%= link_to "View", "/sdk/help/contact", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_quickdev_icon.png", :alt => "3rd party libraries", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>3rd party libraries</h2>
            <p>Find out more information &amp; help about our 3rd party libraries.</p>
            <%= link_to "View", "/sdk/help/thirdparty", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <hr class="wl-push wl-hidden"/>
</div>
