<% content_for :title do %> - SDK - Interaction models<% end %>
<div id="interactionmodels" class="widgetsdk_container">
    <h1>Interaction models</h1>
    <p>Forms and validation, dropdowns, expandable panels, hover states of in-page links - lists..., formatting settings</p>
    <div class="wl-widget-item">
        <h2>Dropdowns (various styles and interactions)</h2>
        <h3 class="halfpage_float first">Basic message dropdown</h3>
        <h3 class="halfpage_float">Basic message dropdown with validation</h3>
        <%= image_tag "widgetexample_interaction_1.png", :alt => "Interaction Example" %>

        <h3 class="halfpage_float first" id="interactionmodels_userlibrary">User / Authors library</h3>
        <h3 class="halfpage_float">Multiple users / Authors library</h3>
        <%= image_tag "widgetexample_interaction_2.png", :alt => "Interaction Example" %>

        <h3 class="halfpage_float first" id="interactionmodels_basicmessagedropdown">Basic message dropdown</h3>
        <h3 class="halfpage_float">Request to join group dropdown</h3>
        <%= image_tag "widgetexample_interaction_3.png", :alt => "Interaction Example" %>

        <h3 id="interactionmodels_basicmessagedropdown">Settings dropdown</h3>
        <%= image_tag "widgetexample_interaction_4.png", :alt => "Interaction Example" %>

        <h3>Share ‘content item’ with 	&lt;user&gt; showing ‘add message’ expanded</h3>
        <%= image_tag "widgetexample_interaction_5.png", :alt => "Interaction Example" %>

        <h3>Left hand navigation item's dropdowns</h3>
        <%= image_tag "widgetexample_interaction_6.png", :alt => "Interaction Example" %>

        <h2>Forms and validation</h2>
        <h3>Input field and browse button</h3>
        <div id="interactionmodels_uploadfile">
            <span>Optional step:</span>
            <p>Upload a backend feed bundle source code repository</p>
            <input type="text"/><button type="button" class="wl-button wl-header-button blue">Browse for file</button>
        </div>

        <h3>Input field and dropdowns (standard dropdowns are fine if you don't want to style them)</h3>
        <%= image_tag "widgetexample_interaction_7.png", :alt => "Interaction Example" %>

        <h3>Forms and validation (errors)</h3>
        <%= image_tag "widgetexample_interaction_8.png", :alt => "Interaction Example" %>
    </div>
    <%= render :partial => "sdk/feedback" %>
</div>
