<% content_for :title do %> - SDK - Quick setup<% end %>
<div class="widgetsdk_container">
    <h1>Quick setup</h1>
    <p>This page will guide you through a quick setup of the Sakai OAE. If you would like to be able to add dummy data and use the latest nakamura, we recommend doing the <%= link_to "OAE-Builder setup", "/sdk/developwidget/devsetup", :class => "wl-regular-link" %> .</p>

    <div class="wl-widget-item">
        <ol class="regular_list">
            <li>Create a directory for Sakai OAE (we will use sakaioae in this documentation) anywhere you like:
                <div class="navigationalitems_codesnippit_container few_lines">
        <pre class="prettyprint">$ mkdir sakaioae</pre>
                </div>
            </li>

            <li>Go into the new sakaioae directory:
                <div class="navigationalitems_codesnippit_container few_lines">
        <pre class="prettyprint">$ cd sakaioae</pre>
                </div>
            </li>

            <li>Download the Sakai OAE back-end (nakamura) executable and save it as nakamura.jar in your sakaioae directory (this may take a couple of minutes).
                <div class="navigationalitems_codesnippit_container few_lines">
        <pre class="prettyprint">$ curl -o nakamura.jar -L http://bit.ly/nakamura_latest</pre>
                </div>
            </li>

            <li>Start up the server using the following Java command:<br />(We currently support Java 6. Support for Java 7 is under way.)
                <div class="navigationalitems_codesnippit_container few_lines">
        <pre class="prettyprint">$ java -Xms256m -Xmx1024m -XX:PermSize=64m -XX:MaxPermSize=512m -server -jar nakamura.jar -f -</pre>
                </div>
            </li>

            <li>For about a minute, you will see Nakamura starting up and a number of logging statements go by. Once it stops, Nakamura is up and running and this terminal will continue to print the server's logging statements. You can test whether it is running by pointing your browser to <%= link_to "http://localhost:8080", "http://localhost:8080", :class => "wl-regular-link" %> - you should see the Sakai OAE homepage.</li>

            <li>Get the 3akai-ux code from GitHub:
                <ol class="regular_list">
                    <li>After logging into <%= link_to "GitHub", "http://github.com", :class => "wl-regular-link", :target => "_blank" %> click the 'Fork' button in the upper-right of the Sakai OAE front-end codebase's GitHub repository, <%= link_to "3akai-ux", "http://github.com/sakaiproject/3akai-ux", :class => "wl-regular-link", :target => "_blank" %>. This will allow you to have a personal copy, or fork, of the 3akai-ux code that you can modify freely.</li>
                    <li>After the fork completes, use git to clone your very own 3akai-ux repository from your sakaioae directory:
                        <div class="navigationalitems_codesnippit_container few_lines">
                <pre class="black">$ git clone git@github.com:YOUR_GIT_USERNAME/3akai-ux.git</pre>
                        </div>
                    </li>
                    <li>This will reach out to GitHub, download the 3akai-ux code and place it in a new 3akai-ux directory in your sakaioae directory. This is where you will do all of your widget development work. Because you own this clone of the main Sakai OAE 3akai-ux repository, you can use git to read and write to this repository.</li>
                </ol>
            </li>

            <li>The UX code Nakamura is currently using is not from your local 3akai-ux repository. To change this, we'll create a load directory and add 2 files:

            <div class="navigationalitems_codesnippit_container few_lines">
        <pre class="prettyprint">sakai_oae=`pwd`

echo "provider.roots=/dev
provider.file=${sakai_oae}/3akai-ux/dev" > load/org.apache.sling.fsprovider.internal.FsResourceProvider-dev.cfg

echo "provider.roots=/devwidgets
provider.file=${sakai_oae}/3akai-ux/devwidgets" > load/org.apache.sling.fsprovider.internal.FsResourceProvider-devwidgets.cfg</pre>
                </div>

            </li>

            <li>Make sure your browser's cache is disabled so your browser is always fetching your latest local code. In Firefox, you can use <%= link_to "Firebug", "http://getfirebug.com/", :class => "wl-regular-link" %>'s Net Panel to disable the browser's cache.</li>

            <li>Nakamura should now be using your UX code rather than the UX code it came with. To make sure, try saving the following HTML to sakaioae/3akai-ux/dev/testing.html and go to <%= link_to "http://localhost:8080/testing.html", "http://localhost:8080/testing.html", :class => "wl-regular-link" %></li>
        </ol>
        <div class="navigationalitems_codesnippit_container">
<pre class="prettyprint">
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Hello World&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        Hello World
    &lt;/body&gt;
&lt;/html&gt;
</pre>
        </div>

        <p>You should see something like the following:</p>
        <%= image_tag "developer_quickdev_example.png", :alt => "Hello World Quick Dev Example" %>
        <p><b>Voila! You are up and running with Sakai OAE!</b> You should now be able to edit 3akai-ux code, save it and refresh your browser to see the changes right away. If you feel ready to dive in, have a look at the <%= link_to "'Hello World' Tutorial", "/sdk/developwidget/learnbasics", :title => "Hello World tutorial", :class => "wl-regular-link" %> or the <%= link_to "Widget designs", "/sdk/designguide/widgetdesigns", :class => "wl-regular-link" %>.</p>
    </div>

    <%= render :partial => "sdk/feedback" %>
</div>
