<div id="thirdparty" class="widgetsdk_container">
    <h1>3rd Party Libraries</h1>
    <p>Sakai OAE employs a number of 3rd party JavaScript libraries. Some of them are core libraries without which the Sakai OAE frontend would not function properly. Others are utility libraries that widgets may use to enhance their interfaces. This page describes these 3rd party libraries, provides examples where useful and points to documentation for the libraries.</p>

    <div class="wl-widget-item">
        <div class="twohundred_wide_column wl-left">
            <%= image_tag "logo_jquery_ui.png", :alt => "jQuery UI" %>
            <%= image_tag "logo_jquery.png", :alt => "jQuery" %>
        </div>
        <div class="descriptive_column_floated">
            <h2>jQuery and jQuery UI</h2>
            <%= link_to "www.jquery.com", "http://www.jquery.com", :class => "wl-regular-link" %>
            <p>jQuery is a fast and concise JavaScript Library that simplifies HTML document traversing event handling animating and Ajax interactions for rapid web development. jQuery is designed to change the way that you write JavaScript. jQuery UI provides abstractions for low-level interaction and animation advanced effects and high-level themeable widgets built on top of the jQuery JavaScript Library that you can use to build highly interactive web applications.</p>
        </div>
    </div>
    <div class="wl-widget-item">
        <div class="twohundred_wide_column wl-left">
            <%= image_tag "logo_sling.png", :alt => "Apache Sling", :class => "wl-right" %>
        </div>
        <div class="descriptive_column_floated">
            <h2>Apache Sling</h2>
            <%= link_to "sling.apache.org", "http://sling.apache.org", :class => "wl-regular-link" %>
            <p>Apache Sling is a web framework that uses a Java Content Repository such as Apache Jackrabbit to store and manage content. Sling applications use either scripts or Java servlets selected based on simple name conventions to process HTTP requests in a RESTful way. The embedded Apache Felix OSGi framework and console provide a dynamic runtime environment where code and content bundles can be loaded unloaded and reconfigured at runtime. As the first web framework dedicated to JSR-170 Java Content Repositories Sling makes it very simple to implement simple applications while providing an enterprise-level framework for more complex applications.</p>
        </div>
    </div>
    <div class="wl-widget-item">
        <div class="twohundred_wide_column wl-left">
            <%= image_tag "logo_fluid.png", :alt => "Fluid Infusion", :class => "wl-right" %>
        </div>
        <div class="descriptive_column_floated">
            <h2>Fluid Infusion</h2>
            <%= link_to "http://www.fluidproject.org/products/infusion ", "http://www.fluidproject.org/products/infusion ", :class => "wl-regular-link" %>
            <p>We think good interfaces should be easy to use and easy to build. Infusion takes the pain out of developing accessible high performance clean and nimble front-ends for applications that want to do more. Our approach is to leave you in control - it's your interface using your markup your way. Developed by an international group of software developers and interaction designers Fluid Infusion combines JavaScript CSS HTML and user-centered design rolling them all into a single package that sits on top of the popular jQuery toolkit. Infusion includes ready-to-use components as well as a framework to build your own. Once you're using Infusion we work to ensure that upgrading is pain-free with backwards compatibility support for multiple versions and the APIs are rock solid with thorough documentation.</p>
        </div>
    </div>

    <div class="wl-widget-item acknowledgement_list">
        <h1>UI Technologies</h1>
        <p>The product includes software from the following third parties:</p>
        <h2>TrimPath</h2>
        <%= link_to "code.google.com/p/trimpath/wiki/JavaScriptTemplates", "http://code.google.com/p/trimpath/wiki/JavaScriptTemplates", :class => "wl-regular-link" %>
        <p>Javascript Templates.</p>
        <h2>Moxiecode Systems AB</h2>
        <%= link_to "tinymce.moxiecode.com", "http://tinymce.moxiecode.com", :class => "wl-regular-link" %>
        <p>tinyMCE - Javascript WYSIWYG Editor</p>
        <h2>Google Inc.</h2>
        <%= link_to "code.google.com/p/google-caja/wiki/JsHtmlSanitizer", "http://code.google.com/p/google-caja/wiki/JsHtmlSanitizer", :class => "wl-regular-link" %>
        <p>JSHtmlSanitizer library from the Caja Project</p>
        <h2>Jordan Boesch.</h2>
        <%= link_to "boedesign.com", "http://www.boedesign.com", :class => "wl-regular-link" %>
        <p>Gritter jQuery plugin</p>
        <h2>Brice Burgess</h2>
        <%= link_to "dev.iceburg.net/jquery/jqModal", "http://dev.iceburg.net/jquery/jqModal", :class => "wl-regular-link" %>
        <p>jqModal jQuery plugin</p>
        <h2>Drew Wilson</h2>
        <%= link_to "code.drewwilson.com/entry/autosuggest-jquery-plugin", "http://code.drewwilson.com/entry/autosuggest-jquery-plugin", :class => "wl-regular-link" %>
        <p>AutoSuggest jQuery plugin</p>
        <h2>"Cowboy" Ben Alman</h2>
        <%= link_to "benalman.com/about/license", "http://benalman.com/about/license", :class => "wl-regular-link" %>
        <p>jQuery BBQ :Back Button jQuery plugin</p>
        <h2>Klaus Hartl</h2>
        <%= link_to "stilbuero.de", "http://www.stilbuero.de", :class => "wl-regular-link" %>
        <p>Cookie jQuery plugin</p>
        <h2>Mike Alsup</h2>
        <%= link_to "malsup.com/jquery/form", "http://malsup.com/jquery/form", :class => "wl-regular-link" %>
        <p>jQuery Form Plugin</p>
        <h2>Michal Wojciechowski</h2>
        <%= link_to "odyniec.net/projects/imgareaselect", "http://odyniec.net/projects/imgareaselect", :class => "wl-regular-link" %>
        <p>imgAreaSelect jQuery plugin</p>
        <h2>Mika Tuupola Dylan Verheul</h2>
        <%= link_to "appelsiini.net/projects/jeditable", "http://www.appelsiini.net/projects/jeditable", :class => "wl-regular-link" %>
        <p>Jeditable jQuery plugin</p>
        <h2>Brantley Harris</h2>
        <%= link_to "code.google.com/p/jquery-json", "http://code.google.com/p/jquery-json", :class => "wl-regular-link" %>
        <p>jQuery JSON Plugin</p>
        <h2>Ivan Bozhanov</h2>
        <%= link_to "jstree.com", "http://www.jstree.com", :class => "wl-regular-link" %>
        <p>jsTree jQuery plugin</p>
        <h2>Fynetworks.com</h2>
        <%= link_to "fyneworks.com/jquery/multiple-file-upload", "http:///www.fyneworks.com/jquery/multiple-file-upload", :class => "wl-regular-link" %>
        <p>jQuery Multiple File Upload Plugin</p>
        <h2>Jon Paul Davies</h2>
        <%= link_to "jonpauldavies.github.com/JQuery/Pager", "http://jonpauldavies.github.com/JQuery/Pager", :class => "wl-regular-link" %>
        <p>jQuery Pager plugin</p>
        <h2>Author Jeremy Horn</h2>
        <%= link_to "tpgblog.com/ThreeDots", "http://tpgblog.com/ThreeDots", :class => "wl-regular-link" %>
        <p>ThreeDots jQuery plugin</p>
        <h2>Ryan McGeary</h2>
        <%= link_to "timeago.yarp.com", "http://timeago.yarp.com", :class => "wl-regular-link" %>
        <p>Timeago jQuery plugin</p>
        <h2>Jorn Zaefferer</h2>
        <%= link_to "bassistance.de/jquery-plugins/jquery-plugin-validation", "http://bassistance.de/jquery-plugins/jquery-plugin-validation", :class => "wl-regular-link" %>
        <p>jQuery validation plugin</p>
        <h2>Adam Vandenberg</h2>
        <%= link_to "adamv.com/dev/javascript/querystring", "http://adamv.com/dev/javascript/querystring", :class => "wl-regular-link" %>
        <p>Querystring</p>
        <h2>Dominic Mitchell</h2>
        <%= link_to "search.cpan.org/~hdm/JavaScript-JSLint-0.06", "http://search.cpan.org/~hdm/JavaScript-JSLint-0.06", :class => "wl-regular-link" %>
        <p>Javascript-JSLint</p>
        <h2>Michael Mathews</h2>
        <%= link_to "code.google.com/p/jsdoc-toolkit", "http://code.google.com/p/jsdoc-toolkit", :class => "wl-regular-link" %>
        <p>JsDoc Toolkit</p>
        <h2>Yahoo! Inc.</h2>
        <%= link_to "developer.yahoo.com/yui/compressor", "http://developer.yahoo.com/yui/compressor", :class => "wl-regular-link" %>
        <p>YUI Compressor</p>
        <h2>Yusuke Kamiyamane</h2>
        <%= link_to "p.yusukekamiyamane.com", "http://p.yusukekamiyamane.com", :class => "wl-regular-link" %>
        <p>Fugue icons</p>
        <h2>Mark James</h2>
        <%= link_to "famfamfam.com/lab/icons/silk", "http://www.famfamfam.com/lab/icons/silk", :class => "wl-regular-link" %>
        <p>Silk icons</p>
        <h2>Apache Software Foundation</h2>
        <%= link_to "apache.org", "http://www.apache.org", :class => "wl-regular-link" %>
        <h2>Ant-Contrib Project</h2>
        <%= link_to "sourceforge.net/projects/ant-contrib", "http://sourceforge.net/projects/ant-contrib", :class => "wl-regular-link" %>
    </div>
    
    <div class="wl-widget-item">
        <h1>Server Technologies</h1>
        <p>Nakamura, the server running Sakai OAE, uses the following components:</p>
        <ul class="inline_list">
            <li>Apache Aries JMX API</li>
            <li>Apache Aries JMX Core</li>
            <li>Apache Commons IO Bundle</li>
            <li>Apache Derby 10.5</li>
            <li>Apache Felix Bundle Repository</li>
            <li>Apache Felix Configuration Admin Service</li>
            <li>Apache Felix Declarative Services</li>
            <li>Apache Felix EventAdmin</li>
            <li>Apache Felix File Install</li>
            <li>Apache Felix Http Whiteboard</li>
            <li>Apache Felix Metatype Service</li>
            <li>Apache Felix Web Console Event Plugin</li>
            <li>Apache Felix Web Console Memory Usage Plugin</li>
            <li>Apache Felix Web Management Console</li>
            <li>Apache Jackrabbit API</li>
            <li>Apache Sling Adapter Manager Implementation</li>
            <li>Apache Sling API</li>
            <li>Apache Sling Authentication Service</li>
            <li>Apache Sling Bundle Resource Provider</li>
            <li>Apache Sling Commons OSGi support</li>
            <li>Apache Sling Default GET Servlets</li>
            <li>Apache Sling Default POST Servlets</li>
            <li>Apache Sling Dynamic Class Loader Support</li>
            <li>Apache Sling Engine Implementation</li>
            <li>Apache Sling Filesystem Resource Provider</li>
            <li>Apache Sling Groovy Extensions</li>
            <li>Apache Sling Initial Content Loader</li>
            <li>Apache Sling Jackrabbit Embedded Repository</li>
            <li>Apache Sling Jackrabbit JSR-283 Access Control Manager Support</li>
            <li>Apache Sling JCR Base Bundle</li>
            <li>Apache Sling JCR ClassLoader</li>
            <li>Apache Sling JCR Resource Resolver</li>
            <li>Apache Sling JCR WebConsole Bundle</li>
            <li>Apache Sling JSON Library</li>
            <li>Apache Sling JSP Tag Library</li>
            <li>Apache Sling Launchpad Content</li>
            <li>Apache Sling MIME type mapping support</li>
            <li>Apache Sling Object Content Mapping</li>
            <li>Apache Sling OpenID Authentication</li>
            <li>Apache Sling OSGi LogService Implementation</li>
            <li>Apache Sling Repository API Bundle</li>
            <li>Apache Sling Scheduler Support</li>
            <li>Apache Sling Scripting Core implementation</li>
            <li>Apache Sling Scripting Implementation API</li>
            <li>Apache Sling Scripting JavaScript Support</li>
            <li>Apache Sling Scripting JSP Support</li>
            <li>Apache Sling Servlet Resolver</li>
            <li>Apache Sling Settings</li>
            <li>Apache Sling Thread Dumper</li>
            <li>Apache Sling Thread Support</li>
            <li>Apache Sling Web Console Branding</li>
            <li>Apache Sling Web Console Security Provider</li>
            <li>Commons Code</li>
            <li>Commons Collections</li>
            <li>Commons Email</li>
            <li>Commons FileUpload</li>
            <li>Commons Lang</li>
            <li>Commons Pool</li>
            <li>Content Repository for JavaTM Technology API</li>
            <li>geronimo-ejb_3.0_spec</li>
            <li>geronimo-j2ee-connector_1.5_spec</li>
            <li>geronimo-j2ee-management_1.1_spec</li>
            <li>geronimo-jms_1.1_spec</li>
            <li>geronimo-jta_1.1_spec</li>
            <li>Groovy Runtime</li>
            <li>Jackrabbit JCR Commons</li>
            <li>Jackrabbit JCR-RMI</li>
            <li>Jackrabbit SPI</li>
            <li>Jackrabbit SPI Commons</li>
            <li>jaxb-api</li>
            <li>Nakamura Http Jetty</li>
            <li>OPS4J Pax Web - Service</li>
            <li>Sakai 3 UX Loader</li>
            <li>Sakai Nakamura:: ActiveMQ Bundle</li>
            <li>Sakai Nakamura:: Activity Bundle</li>
            <li>Sakai Nakamura:: Apache Commons HTTPClient bundle</li>
            <li>Sakai Nakamura:: Authorization Bundle</li>
            <li>Sakai Nakamura :: Basic LTI Consumer bundle</li>
            <li>Sakai Nakamura:: Batch Bundle</li>
            <li>Sakai Nakamura:: Calendar based events bundle</li>
            <li>Sakai Nakamura :: Captcha Bundle</li>
            <li>Sakai Nakamura:: Chat services bundle</li>
            <li>Sakai Nakamura:: Configuration Bundle</li>
            <li>Sakai Nakamura:: Connections Management Bundle</li>
            <li>Sakai Nakamura:: Database Bundle</li>
            <li>Sakai Nakamura:: Discussion Management Bundle</li>
            <li>Sakai Nakamura:: Document Proxy</li>
            <li>Sakai Nakamura:: Documentation Support bundle</li>
            <li>Sakai Nakamura:: Files Bundle</li>
            <li>Sakai Nakamura:: Form Auth Bundle</li>
            <li>Sakai Nakamura :: Google Collections</li>
            <li>Sakai Nakamura :: Http Bundle</li>
            <li>Sakai Nakamura:: image service</li>
            <li>Sakai Nakamura:: Javax Activation and Mail Bundle</li>
            <li>Sakai Nakamura:: JAXP API Bundle</li>
            <li>Sakai Nakamura  :: JCR Bundle</li>
            <li>Sakai Nakamura  :: JSON Lib Bundle</li>
            <li>Sakai Nakamura  :: Locking Bundle</li>
            <li>Sakai Nakamura  :: Me Service Bundle</li>
            <li>Sakai Nakamura  :: Memory Bundle</li>
            <li>Sakai Nakamura  :: Messaging Bundle</li>
            <li>Sakai Nakamura :: Model Directory</li>
            <li>Sakai Nakamura  :: OSGi-to-JMS Events Bridge Bundle</li>
            <li>Sakai Nakamura  :: Outgoing Email Sender</li>
            <li>Sakai Nakamura :: Pages Structured Content</li>
            <li>Sakai Nakamura  :: Personal Space Bundle</li>
            <li>Sakai Nakamura  :: Presence Bundle</li>
            <li>Sakai Nakamura :: Profile Bundle</li>
            <li>Sakai Nakamura  :: proxy service</li>
            <li>Sakai Nakamura  :: Sakai Cluster Tracking</li>
            <li>Sakai Nakamura  :: Search Support Bundle</li>
            <li>Sakai Nakamura  :: Security Loader Bundle</li>
            <li>Sakai Nakamura  :: Site Service Bundle</li>
            <li>Sakai Nakamura  :: Sling Resource Extensions Bundle</li>
            <li>Sakai Nakamura  :: SMTP Server</li>
            <li>Sakai Nakamura :: Solr based search service</li>
            <li>Sakai Nakamura :: Sparse Map Content Storage bundle</li>
            <li>Sakai Nakamura :: Templates Bundle</li>
            <li>Sakai Nakamura  :: Tika Bundle</li>
            <li>Sakai Nakamura  :: Trusted Authentication Bundle</li>
            <li>Sakai Nakamura  :: User Extension Bundle</li>
            <li>Sakai Nakamura  :: Utilities</li>
            <li>Sakai Nakamura  :: Version Extension Bundle</li>
            <li>Sakai Nakamura :: Woodstox/StAX</li>
            <li>Sakai Nakamura :: World Support</li>
        </ul>
    </div>
</div>