<% content_for :title do %> - SDK - Widget designs<% end %>
<div id="widgetexamples02" class="widgetsdk_container">
    <h1>Widget designs</h1>
    <p>Various examples of widgets, detailing spacing, font type, style and size and image dimensions to help you on your way to creating your own list based Sakai widgets.</p>
    
    <ul class="inline_list">
        <li><a href="#pagewidgets" class="wl-regular-link" title="Page widgets">Page widgets</a></li>
        <li><a href="#dashboardwidgets" class="wl-regular-link" title="Dashboard widgets">Dashboard widgets</a></li>
        <li><a href="#otherwidgets" class="wl-regular-link" title="Other widgets">Other widgets</a></li>
    </ul>
    
    <div class="wl-widget-item">
        <h1 id="pagewidgets">Page widgets</h1>
        <p>Page widgets are those that appear on pages like a Sakai document. For example, content comments, embed content, Google maps and discussions are all page widgets that appear in a Sakai document:</p>
        <%= image_tag "developer_pagewidget_1.png", :alt => "Page widget example" %>

        <hr class="wl-hidden wl-push"/>
        <p>A page widget can be added, removed or moved within its containing page. Another special characteristic of a page widget is that its settings have a separate overlay dialog. This settings dialog can be accessed through the page editor.</p>

        <p>Access a widget's settings by selecting the widget in the page editor and choosing settings. Change and apply the settings by pressing the save button.</p>
        <%= image_tag "developer_pagewidget_2.png", :alt => "Accessing a page widget's settings" %>

        <p>You can add, remove and move page widgets in the page editor. To add a widget to a page, simply drag and drop the widget from the Inserter Bar onto the page.</p>
        <%= image_tag "developer_pagewidget_3.png", :alt => "Adding a page widget via drag and drop" %>

        <p>The page now includes the widget that you've dropped in.</p>
        <%= image_tag "developer_pagewidget_4.png", :alt => "Page including new widget that was dropped in" %>
    </div>

    <div class="wl-widget-item">
        <h1 id="dashboardwidgets">Dashboard widgets</h1>
        <%= image_tag "widgetexample_dashboard.jpg", :alt => "Dashboard Widgets", :id => "dashboard_widgets_screenshot" %>
        <p>The diagrams below detail exactly how to create a dashboard widget, with the correct spacing, font sizes and style and image size use.</p>
        <p>The example used here fits with Featured content, “Featured page, and Featured contacts” but the spacing and font rules also apply to full width dashboard widgets.</p>
        <p>The background style and colour is fixed by the system when you choose your style of widget.</p>
        <p>If you adhere to these rules your widget will fit seamlessly into the dashboard.</p>

        <hr class="wl-push wl-hidden"/>
        <h2 class="halfpage_float first">My dashboard widgets - spacing (no content)</h2>
        <h2 class="halfpage_float">My dashboard widgets - spacing (content)</h2>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
            <div style="margin-top: 77px;">10 px</div>
            <div style="position: absolute; margin-top: -12px; margin-left: 219px;width: 30px;">10 px</div>
            <div style="position: absolute; margin-top: -12px; margin-left: 345px;width: 30px;">10 px</div>
            <div style="position: absolute; margin-top: -12px; margin-left: 406px;width: 30px;">10 px</div>
            <div style="margin-top: -12px; margin-left: 563px; position: absolute; width: 30px;">10 px</div>
            <div style="margin-left: 250px; margin-top: 59px;">10 px</div>
            <div style="margin-left: 296px; margin-top: -13px;">15 px</div>
            <div style="margin-top: 15px; font-weight: bold; width: 60px; margin-left: 270px;">Image size 50px x 50px</div>
            <div style="margin-top: 14px; margin-left: 296px;">10 px</div>
            <div style="margin-top: -2px; margin-left: 603px;">10 px</div>
            <div style="margin-left: 603px; margin-top: 5px;">10 px</div>
            <div style="margin-top: 3px; font-weight: bold; width: 60px; margin-left: 270px;">Image size 35px x 35px</div>
            <div style="margin-left: 250px; margin-top: 25px;">10 px</div>
            <div style="margin-left: 234px; margin-top: 1px;">15 px</div>
            <div style="margin-left: 296px; margin-top: -3px;">10 px</div>
            <div style="margin-top: -22px; margin-left: 603px;">10 px</div>
            <div style="margin-left: 603px; margin-top: 8px;">10 px</div>
            <div style="margin-left: 603px; margin-top: 5px;">10 px</div>
            <div style="margin-left: 234px; margin-top: -7px;">15 px</div>
            <div style="margin-left: 234px; margin-top: 13px;">15 px</div>
            <div style="margin-left: 603px; margin-top: 2px;">10 px</div>
            <div style="margin-left: 296px; margin-top: -2px;">10 px</div>
            <div style="font-size: 14px; color: #666; margin-left: 75px;">229 px wide</div>
            <div style="margin-left: 603px; margin-top: -14px;">15 px</div>
            <div style="margin-left: 603px; margin-top: 13px;">20 px</div>
            <div style="margin-left: 296px; margin-top: 3px;">10 px</div>
            <div style="margin-left: 296px; margin-top: 29px;">10 px</div>
            <div style="margin-left: 296px; margin-top: 12px;">15 px</div>
            <div style="font-size: 14px; color: #666; margin-left: 422px; margin-top: 23px;">229 px wide</div>
        </div>
        <%= image_tag "widgetexample_dashboard_1.jpg", :alt => "Dashboard Widgets" %>
        <p id="dashboard_1_description">If a piece of content is shown with another related item, the second image or icon is always smaller (35px x 35px)</p>
        <h2 class="halfpage_float first">My dashboard widgets - fonts (no content)</h2>
        <h2 class="halfpage_float">My dashboard widgets - fonts (content)</h2>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
            <div style="margin-top: 88px; margin-left: 248px;">Set by system</div>
            <div style="margin-left: 593px; margin-top: -12px;">Set by system</div>
            <div style="margin-left: 581px; margin-top: 25px;">Arial Bold 11pt, #2683b</div>
            <div style="margin-left: 588px; margin-top: 1px;">Arial 11pt, #999999</div>
            <div style="margin-left: 251px; margin-top: 12px;">B 06</div>
            <div style="margin-top: -8px; margin-left: 592px;">Arial 11pt, #333333</div>
            <div style="margin-top: 18px; margin-left: 592px;">Arial 10pt, #666666</div>
            <div style="margin-left: 592px; margin-top: 12px;">Arial 11pt, #666666</div>
            <div style="margin-left: 592px; margin-top: 27px;">Arial 11pt, #333333</div>
            <div style="margin-left: 592px; margin-top: 40px;">Arial 10pt, #666666</div>
            <div style="margin-left: 247px; margin-top: 12px;">Arial 12pt, #666666</div>
            <div style="margin-top: -7px; margin-left: 580px;">Arial Bold 10pt, #2683bc</div>
            <div style="margin-left: 592px; margin-top: 1px;">Arial 10pt, #666666</div>
            <div style="margin-top: 33px; margin-left: 580px;">Arial Bold 11pt, #2683bc</div>
            <div style="margin-left: 592px; margin-top: 73px;">Arial 12pt, #666666</div>
        </div>
        <div style="position: absolute; font-size: 10px; font-family: arial; font-weight: bold; margin-top: 408px; color: #666; line-height: 16px;">
            Button style 02:<br/>
            background: none repeat scroll 0 0 #FFFFFF;<br/>
            border: 1px solid #E0E3E5;<br/>
            box-shadow: 0 0 4px -2px #A8A8A8 inset;<br/>
            border-radius: 5px 5px 5px 5px;<br/>
            text-color: #666666;<br/>
            font-size: 10px;<br/>
            font-weight: bold;<br/>
            height: 23px;<br/>
            padding: 0 5px;<br/>
            text-align: center;
        </div>
        <div style="position: absolute; font-size: 10px; font-family: arial; font-weight: bold; color: #666; line-height: 16px; margin-left: 233px; margin-top: 525px;">
            Button style 01:<br/>
            background: none repeat scroll 0 0 #FFFFFF;<br/>
            border: 1px solid #E0E3E5;<br/>
            box-shadow: 0 0 4px -2px #A8A8A8 inset;<br/>
            border-radius: 5px 5px 5px 5px;<br/>
            text-color: #666666;<br/>
            font-size: 10px;<br/>
            font-weight: bold;<br/>
            height: 23px;<br/>
            padding: 0 5px;<br/>
            text-align: center;
        </div>
        <%= image_tag "widgetexample_dashboard_2.jpg", :alt => "Dashboard Widgets", :id => "widgetexample_dashboard_2" %>
        <p>The widgets you create don't have to be this complicated and could be just a list of content. A couple of other examples are shown below:</p>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
            <div style="margin-top: 11px; margin-left: 344px;">10 px</div>
            <div style="margin-top: -12px; margin-left: 563px;">10 px</div>
            <div style="margin-top: 58px; margin-left: 274px;">15 px</div>
            <div style="position: absolute; width: 100px; font-size: 12px; margin-left: 584px; margin-top: -2px; line-height: 17px;">Images can be any size as long as they fit within the boundaries of the widget framework</div>
            <div style="margin-top: 50px; margin-left: 261px;">10 px</div>
            <div style="margin-left: 261px;">10 px</div>
            <div style="margin-left: 275px; margin-top: 45px;">10 px</div>
            <div style="margin-left: 261px;">10 px</div>
            <div style="margin-left: 275px; margin-top: 37px;">15 px</div>
        </div>
        <%= image_tag "widgetexample_dashboard_3.jpg", :alt => "Dashboard Widgets" %>
        <p>Each widget has a settings button (appears on hover of the widgets top bar) where the administrator can change the widgets settings once it has been placed within a page:</p>
        <div style="position: absolute; font-size: 12px; font-family: arial; color: #0197ad; margin-top: 671px;">
            <div style="margin-left: 514px;">Arial 20pt, #666666</div>
                <div style="margin-top: 67px; margin-left: 371px;">Arial Bold 14pt, #666666</div>
                <div style="margin-left: 47px; margin-top: -8px;">10 px</div>
                <div style="margin-left: 47px; margin-top: 22px;">10 px</div>
                <div style="margin-left: 47px; margin-top: 15px;">30 px</div>
                <div style="margin-top: -35px; margin-left: 577px;">Arial 12pt, #666666</div>
                <div style="margin-left: 438px; margin-top: 22px;">Arial Bold 14pt, #666666</div>
                <div style="margin-left: 47px;">15 px</div>
                <div style="margin-left: 317px; margin-top: -13px;">20 px</div>
                <div style="margin-left: 317px; margin-top: 14px;">15 px</div>
                <div style="width: 100px; margin-top: -20px; margin-left: 553px;">Arial 12pt, #666666</div>
                <div style="margin-left: 315px; margin-top: 18px;">10 px</div>
                <div style="margin-left: 316px; margin-top: 26px;">20 px</div>
                <div style="margin-left: 315px; margin-top: 9px;">15 px</div>
                <div style="margin-left: 315px; margin-top: 27px;">15 px</div>
        </div>
        <%= image_tag "widgetexample_dashboard_4.png", :alt => "Dashboard Widgets" %>
    </div>
</div>
<div id="widgetexamples01" class="widgetsdk_container">
    <div class="wl-widget-item first">
        <h1 id="otherwidgets">Other widgets</h1>
        <h2 class="halfpage_float first">Example 'List of content'</h2>
        <h2 class="halfpage_float">Example 'Recent Activity list'</h2>
        <hr class="wl-push wl-hidden"/>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: rgb(102, 102, 102); margin-left: 245px; margin-top:62px;" id="widgetexample_dashboard_5_code">
            Arial Bold 11pt, #2683bc<br/>
            Arial Bold 11pt, #999999<br/><br/>
            Arial Bold 11pt, #333333<br/><br/>
            10 px<br/><br/><br/><br/><br/>
            10 px<br/><br/><br/><br/><br/>
            50 x 50 px<br/><br/><br/><br/><br/><br/>
            Default content<br/>
            image<br/>
        </div>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999; margin-top: 50px; text-align: right; margin-left: 352px;" id="widgetexample_dashboard_5_code">
            10 px<br/><br/><br/><br/><br/>
            15 px<br/><br/><br/><br/>
            10 px<br/><br/><br/>
            35 x 35 px<br/><br/><br/><br/><br/><br/><br/><br/>
            20 x 25 px<br/>
        </div>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999; margin-left: 575px; margin-top: 76px;" id="widgetexample_dashboard_5_code">
            Arial Bold 12pt, #2683bc<br/><br/>
            Arial 10pt, #999<br/><br/><br/>
            Arial 10pt, #2683bc<br/>
            leading 13pt<br/><br/><br/><br/><br/><br/><br/>
            Arial 11pt, #999999<br/>
            leading 13pt<br/>
        </div>
        <%= image_tag "widgetexample_dashboard_5.png", :alt => "Dashboard Widgets" %>

        <h2>Example 'Discussion'</h2>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
            <div style="margin-top: 58px; margin-left: 198px;">Arial Bold 11pt, #2683bc</div>
            <div style="margin-top: 17px; margin-left: 258px;">Arial Bold 11pt, #666666</div>
            <div style="position: absolute; margin-top: 10px; margin-left: 99px;">Arial Bold 11pt, #2683bc</div>
            <div style="position: absolute; margin-top: 10px; margin-left: 244px;">Arial 11pt, #666666</div>
            <div style="margin-left: 386px; margin-top: 10px;">Arial 12pt, leading 16, #333333</div>
            <div style="display: block; margin-left: 546px; margin-top: -13px;">15px</div>
            <div style="position: absolute; margin-top: 80px; margin-left: 11px;">50 x 50 px</div>
            <div style="margin-top: 107px; margin-left: 546px;">15 px</div>
            <div style="margin-left: 500px;">10 px</div>
            <div style="margin-top: -3px; margin-left: 11px; position: absolute;">35 x 35 px</div>
            <div style="margin-left: 228px; margin-top: -2px;">Arial Bold 11pt, #2683bc</div>
            <div style="margin-left: 546px; margin-top: -2px;">15 px</div>
            <div style="margin-left: 546px; margin-top: 4px;">15 px</div>
            <div style="margin-left: 546px;">10 px</div>
            <div style="margin-top: 76px; margin-left: 3px;">15 px</div>
            <div style="margin-top: 47px; margin-left: 227px;">Arial Bold 12pt, #666666</div>
            <div style="margin-top: 20px; margin-left: 227px;">Arial Italic 12pt, #999999</div>
            <div style="margin-top: 14px; margin-left: 3px; position: absolute;">15 px</div>
            <div style="margin-top: 14px; margin-left: 45px;">10 px</div>
        </div>
        <%= image_tag "widgetexample_dashboard_6.png", :alt => "Dashboard Widgets" %>

        <h2>Example full width 'List of Content'</h2>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
            <div style="position: absolute; margin-top: 16px; margin-left: 35px;">Arial Bold, 11pt, #2683bc</div>
            <div style="margin-left: 263px; margin-top: 18px;">Arial Bold, 12pt, #2683bc</div>
            <div style="margin-left: 440px; margin-top: -12px;">Arial, 12pt, #333333</div>
            <div style="margin-left: 221px; margin-top: 7px;">Arial, 11pt, #333333</div>
            <div style="position: absolute; margin-left: 36px; margin-top: 12px;">10 px</div>
            <div style="position: absolute; margin-top: 12px; margin-left: 70px;">10 px</div>
            <div style="position: absolute; margin-top: 12px; margin-left: 133px;">15 px</div>
            <div style="position: absolute; margin-top: 12px; margin-left: 335px;">20 px</div>
            <div style="margin-top: 52px; margin-left: 336px;">15 px</div>
            <div style="margin-left: 418px;">Arial Bold, 11pt, #2683bc</div>
            <div style="margin-top: 3px; position: absolute;">Arial 11pt, #333333</div>
            <div style="margin-left: 336px;">20 px</div>
            <div style="margin-top: 8px; margin-left: 240px;">Arial 11pt, #666666</div>
            <div style="margin-top: 215px;">Arial 11pt, #333333</div>
        </div>
        <%= image_tag "widgetexample_dashboard_7.png", :alt => "Dashboard Widgets" %>

        <h2>Example full width 'List of Contacts'</h2>
        <%= image_tag "widgetexample_dashboard_8.png", :alt => "Dashboard Widgets" %>
    </div>
    <%= render :partial => "sdk/feedback" %>
</div>