<div id="widgetexamples02" class="widgetsdk_container">
    <h1>Widget examples 02</h1>
    <p>Depending where the modules are to be used there are various sizes that will need to be applied , to allow them to fit into the system. Images within these widgets can be of any size as long as they have a 10 pixel gutter within the module.</p>
    <div class="wl-widget-item first">
        <h2>Dashboard Widgets</h2>
        <%= image_tag "widgetexample_dashboard.jpg", :alt => "Dashboard Widgets", :id => "dashboard_widgets_screenshot" %>
        <p>The diagrams below detail exactly how to create a dashboard widget, with the correct spacing, font sizes and style and image size use.</p>
        <p>The example used here fits with Featured content, “Featured page, and Featured contacts” but the spacing and font rules also apply to full width dashboard widgets.</p>
        <p>The background style and colour is fixed by the system when you choose your style of widget.</p>
        <p>If you adhere to these rules your widget will fit seamlessly into the dashboard.</p>

        <hr class="wl-push wl-hidden"/>
        <h2 class="halfpage_float first">My dashboard widgets - spacing (no content)</h2>
        <h2 class="halfpage_float">My dashboard widgets - spacing (content)</h2>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
            <div style="margin-top: 77px;">10 px</div>
            <div style="position: absolute; margin-top: -12px; margin-left: 219px;width: 30px;">10 px</div>
            <div style="position: absolute; margin-top: -12px; margin-left: 345px;width: 30px;">10 px</div>
            <div style="position: absolute; margin-top: -12px; margin-left: 406px;width: 30px;">10 px</div>
            <div style="margin-top: -12px; margin-left: 563px; position: absolute; width: 30px;">10 px</div>
            <div style="margin-left: 250px; margin-top: 59px;">10 px</div>
            <div style="margin-left: 296px; margin-top: -13px;">15 px</div>
            <div style="margin-top: 15px; font-weight: bold; width: 60px; margin-left: 270px;">Image size 50px x 50px</div>
            <div style="margin-top: 14px; margin-left: 296px;">10 px</div>
            <div style="margin-top: -2px; margin-left: 603px;">10 px</div>
            <div style="margin-left: 603px; margin-top: 5px;">10 px</div>
            <div style="margin-top: 3px; font-weight: bold; width: 60px; margin-left: 270px;">Image size 35px x 35px</div>
            <div style="margin-left: 250px; margin-top: 25px;">10 px</div>
            <div style="margin-left: 234px; margin-top: 1px;">15 px</div>
            <div style="margin-left: 296px; margin-top: -3px;">10 px</div>
            <div style="margin-top: -22px; margin-left: 603px;">10 px</div>
            <div style="margin-left: 603px; margin-top: 8px;">10 px</div>
            <div style="margin-left: 603px; margin-top: 5px;">10 px</div>
            <div style="margin-left: 234px; margin-top: -7px;">15 px</div>
            <div style="margin-left: 234px; margin-top: 13px;">15 px</div>
            <div style="margin-left: 603px; margin-top: 2px;">10 px</div>
            <div style="margin-left: 296px; margin-top: -2px;">10 px</div>
            <div style="font-size: 14px; color: #666; margin-left: 75px;">229 px wide</div>
            <div style="margin-left: 603px; margin-top: -14px;">15 px</div>
            <div style="margin-left: 603px; margin-top: 13px;">20 px</div>
            <div style="margin-left: 296px; margin-top: 3px;">10 px</div>
            <div style="margin-left: 296px; margin-top: 29px;">10 px</div>
            <div style="margin-left: 296px; margin-top: 12px;">15 px</div>
            <div style="font-size: 14px; color: #666; margin-left: 422px; margin-top: 23px;">229 px wide</div>
        </div>
        <%= image_tag "widgetexample_dashboard_1.jpg", :alt => "Dashboard Widgets" %>
        <p id="dashboard_1_description">If a piece of content is shown with another related item, the second image or icon is always smaller (35px x 35px)</p>
        <h2 class="halfpage_float first">My dashboard widgets - fonts (no content)</h2>
        <h2 class="halfpage_float">My dashboard widgets - fonts (content)</h2>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
            <div style="margin-top: 88px; margin-left: 248px;">Set by system</div>
            <div style="margin-left: 593px; margin-top: -12px;">Set by system</div>
            <div style="margin-left: 581px; margin-top: 25px;">Arial Bold 11pt, #2683b</div>
            <div style="margin-left: 588px; margin-top: 1px;">Arial 11pt, #999999</div>
            <div style="margin-left: 251px; margin-top: 12px;">B 06</div>
            <div style="margin-top: -8px; margin-left: 592px;">Arial 11pt, #333333</div>
            <div style="margin-top: 18px; margin-left: 592px;">Arial 10pt, #666666</div>
            <div style="margin-left: 592px; margin-top: 12px;">Arial 11pt, #666666</div>
            <div style="margin-left: 592px; margin-top: 27px;">Arial 11pt, #333333</div>
            <div style="margin-left: 592px; margin-top: 40px;">Arial 10pt, #666666</div>
            <div style="margin-left: 247px; margin-top: 12px;">Arial 12pt, #666666</div>
            <div style="margin-top: -7px; margin-left: 580px;">Arial Bold 10pt, #2683bc</div>
            <div style="margin-left: 592px; margin-top: 1px;">Arial 10pt, #666666</div>
            <div style="margin-top: 33px; margin-left: 580px;">Arial Bold 11pt, #2683bc</div>
            <div style="margin-left: 592px; margin-top: 73px;">Arial 12pt, #666666</div>
        </div>
        <div style="position: absolute; font-size: 10px; font-family: arial; font-weight: bold; margin-top: 408px; color: #666; line-height: 16px;">
            Button style 02:<br/>
            background: none repeat scroll 0 0 #FFFFFF;<br/>
            border: 1px solid #E0E3E5;<br/>
            box-shadow: 0 0 4px -2px #A8A8A8 inset;<br/>
            border-radius: 5px 5px 5px 5px;<br/>
            text-color: #666666;<br/>
            font-size: 10px;<br/>
            font-weight: bold;<br/>
            height: 23px;<br/>
            padding: 0 5px;<br/>
            text-align: center;
        </div>
        <div style="position: absolute; font-size: 10px; font-family: arial; font-weight: bold; color: #666; line-height: 16px; margin-left: 233px; margin-top: 525px;">
            Button style 01:<br/>
            background: none repeat scroll 0 0 #FFFFFF;<br/>
            border: 1px solid #E0E3E5;<br/>
            box-shadow: 0 0 4px -2px #A8A8A8 inset;<br/>
            border-radius: 5px 5px 5px 5px;<br/>
            text-color: #666666;<br/>
            font-size: 10px;<br/>
            font-weight: bold;<br/>
            height: 23px;<br/>
            padding: 0 5px;<br/>
            text-align: center;
        </div>
        <%= image_tag "widgetexample_dashboard_2.jpg", :alt => "Dashboard Widgets", :id => "widgetexample_dashboard_2" %>
        <p>The widgets you create don't have to be this complicated and could be just a list of content. A couple of other examples are shown below:</p>
        <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
            <div style="margin-top: 11px; margin-left: 344px;">10 px</div>
            <div style="margin-top: -12px; margin-left: 563px;">10 px</div>
            <div style="margin-top: 58px; margin-left: 274px;">15 px</div>
            <div style="position: absolute; width: 100px; font-size: 12px; margin-left: 584px; margin-top: -2px; line-height: 17px;">Images can be any size as long as they fit within the boundaries of the widget framework</div>
            <div style="margin-top: 50px; margin-left: 261px;">10 px</div>
            <div style="margin-left: 261px;">10 px</div>
            <div style="margin-left: 275px; margin-top: 45px;">10 px</div>
            <div style="margin-left: 261px;">10 px</div>
            <div style="margin-left: 275px; margin-top: 37px;">15 px</div>
        </div>
        <%= image_tag "widgetexample_dashboard_3.jpg", :alt => "Dashboard Widgets" %>
        <p>Each widget has a settings button (appears on hover of the widgets top bar) where the administrator can change the widgets settings once it has been placed within a page:</p>
        <div style="position: absolute; font-size: 12px; font-family: arial; color: #0197ad; margin-top: 671px;">
            <div style="margin-left: 514px;">Arial 20pt, #666666</div>
                <div style="margin-top: 67px; margin-left: 371px;">Arial Bold 14pt, #666666</div>
                <div style="margin-left: 47px; margin-top: -8px;">10 px</div>
                <div style="margin-left: 47px; margin-top: 22px;">10 px</div>
                <div style="margin-left: 47px; margin-top: 15px;">30 px</div>
                <div style="margin-top: -35px; margin-left: 577px;">Arial 12pt, #666666</div>
                <div style="margin-left: 438px; margin-top: 22px;">Arial Bold 14pt, #666666</div>
                <div style="margin-left: 47px;">15 px</div>
                <div style="margin-left: 317px; margin-top: -13px;">20 px</div>
                <div style="margin-left: 317px; margin-top: 14px;">15 px</div>
                <div style="width: 100px; margin-top: -20px; margin-left: 553px;">Arial 12pt, #666666</div>
                <div style="margin-left: 315px; margin-top: 18px;">10 px</div>
                <div style="margin-left: 316px; margin-top: 26px;">20 px</div>
                <div style="margin-left: 315px; margin-top: 9px;">15 px</div>
                <div style="margin-left: 315px; margin-top: 27px;">15 px</div>
        </div>
        <%= image_tag "widgetexample_dashboard_4.png", :alt => "Dashboard Widgets" %>
    </div>
</div>