<%= form_for(@version, :html => { :multipart => true, :class => "wl-form-field-wrapper" }, :remote => true) do |f| %>
    <% if @version.new_record? %>
      <h1>Submit a widget</h1>
    <% else %>
      <h1>Submit a new version</h1>
    <% end %>
    <h2>01. Select widget code to upload</h2>
    <div class="register_column2 submit_code_column1">
        <% if !@version.new_record? %>
          <%= f.label :code, "Current file: #{@version.code_file_name}" %>
        <% else %>
          <%= f.label :code, "Select file:" %>
        <% end %>
        <span id="version_code_error" class="wl-error submit_input_file_error" style="display:none"></span>
        <%= f.file_field :code %>
        <% if !@version.new_record? && !@version.bundle_file_name.blank? %>
          <%= f.label :bundle, "Current backend bundle file: #{@version.bundle_file_name}" %>
        <% else %>
          <%= f.label :code, "Backend bundle file (optional):" %>
        <% end %>
        <span id="version_bundle_error" class="wl-error submit_input_file_error" style="display:none"></span>
        <%= f.file_field :bundle %>
    </div>
    <div class="register_column3">
        <%= f.label :widget_repo, "Source code repository" %>
        <%= f.text_field :widget_repo, :placeholder => "http://github.com/you/repository", :type => "url" %>
        <%= f.label :widget_backend_repo, "Backend bundle source code repository" %>
        <%= f.text_field :widget_backend_repo, :placeholder => "http://github.com/you/backend_repository", :type => "url" %>
    </div>

    <hr class="wl-push wl-hidden"/>
    <h2>02. Add basic info about the Widget</h2>
    <div class="register_column1">
        <h2>Select<%= if !@version.new_record? then " a new" end %> image for the widget icon</h2>
        <% unless @version.new_record? %>
          <%= image_tag @version.icon.url(:medium), :alt => "Widget Icon" %>
        <% end %>
        <span id="version_icon_error" class="wl-error submit_input_file_error" style="display:none"></span>
        <%= f.file_field :icon %>
    </div>

    <div class="register_column2">
        <h2>Basic information</h2>
        <%= f.label :title, "Widget name" %>
        <span id="version_title_error" class="wl-error" style="display:none"></span>
        <%= f.text_field :title, :class => "submit_left_input", :placeholder => "Sakai Widget" %>
        <hr class="wl-hidden wl-push" />
        <%= f.label :version_number, "Version number" %>
        <span id="version_version_number_error" class="wl-error" style="display:none"></span>
        <%= f.text_field :version_number, :class => "submit_left_input", :placeholder => "0.0.1" %>
        <hr class="wl-hidden wl-push" />
        <%= f.label :description, "Widget summary" %>
        <span id="version_description_error" class="wl-error" style="display:none"></span>
        <%= f.text_area :description, :class => "register_basic", :placeholder => "Brief description about why your widget is awesome" %>
        <%= f.label :features, "Functional breakdown" %>
        <span id="version_features_error" class="wl-error" style="display:none"></span>
        <%= f.text_area :features, :class => "register_summary", :placeholder => "Enter a functional breakdown of the widget" %>
    </div>

    <div class="register_column3 submit_details_column2">
        <h2>Details</h2>
        <%= label_tag "version[category_ids][]", "Categories", :class => "submit_left_label" %>
        <%= select_tag "version[category_ids][]", options_from_collection_for_select(Category.all, :id, :title, @version.category_ids), :multiple => true %>
        <hr class="wl-hidden wl-push" />
        <%= label_tag "version[language_ids][]", "Languages", :class => "submit_left_label" %>
        <%= select_tag "version[language_ids][]", options_from_collection_for_select(Language.all, :id, :title, @version.language_ids), :multiple => true %>
    </div>

    <hr class="wl-split-line wl-push">
    <h2>03. Add screenshots to the Widget overview</h2>
    <div id="submit_screenshot_uploadfields" class="register_column2">
        <h3>Upload screenshots</h3>
        <p class="submit_descriptive_text">Use the buttons below to select screenshots for your widget to upload. These will be dynamically resized to the thumbnail size.</p>
        <span id="version_screenshots_image_error" class="wl-error" style="display:none"></span>
        <% if @version.new_record? %>
          <%= f.fields_for :screenshots do |s| %>
              <%= s.label :image, "Screenshot" %>
              <%= s.file_field :image %>
          <% end %>
        <% else %>
          <% @version.screenshots.each_index do |s| %>
            <%= image_tag @version.screenshots[s].image.url(:medium) %>
            <%= label_tag "version_screenshots_attributes_#{s}_image", "Upload new screenshot" %>
            <%= file_field_tag "version_screenshots_attributes_#{s}_image" %>
          <% end %>
          <% if @version.screenshots.size < 3 %>
            <% @version.screenshots.size.upto(2) do |s| %>
              <%= label_tag "version_screenshots_attributes_#{s}_image", "Upload new screenshot" %>
              <%= file_field_tag "version_screenshots_attributes_#{s}_image" %>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <hr class="wl-split-line wl-push" />
    <div id="submit_widget_buttons">
        <button class="wl-link-button wl-bold" type="button">Cancel</button>
        <button class="wl-button wl-overlay-button" type="submit">Save and Upload Widget</button>
    </div>
    <hr class="wl-push wl-hidden"/>
<% end %>