<div id="interactionmodels" class="widgetsdk_container">
    <h1>Interaction models</h1>
    <p>Forms and validation, dropdowns, expandable panels, hover states of in-page links - lists..., formatting settings</p>
    <div class="wl-widget-item first">
        <h1>Dropdowns (various styles and interactions)</h1>
        <h4 class="halfpage_float" id="interactionmodels_systemmessages">System messages</h4>
        <h4 class="halfpage_float first">Basic message dropdown</h4>
        <h4 class="halfpage_float">Basic message dropdown with validation</h4>
        <%= image_tag "widgetexample_interaction_1.png", :alt => "Interaction Example" %>

        <h4 class="halfpage_float first" id="interactionmodels_userlibrary">User / Authors library</h4>
        <h4 class="halfpage_float">Multiple users / Authors library (shows add to my library '+')</h4>
        <%= image_tag "widgetexample_interaction_2.png", :alt => "Interaction Example" %>

        <h4 class="halfpage_float first" id="interactionmodels_basicmessagedropdown">Basic message dropdown</h4>
        <h4 class="halfpage_float">Request to join group dropdown with expanded message panel</h4>
        <%= image_tag "widgetexample_interaction_3.png", :alt => "Interaction Example" %>

        <h4 id="interactionmodels_basicmessagedropdown">Settings dropdown</h4>
        <%= image_tag "widgetexample_interaction_4.png", :alt => "Interaction Example" %>

        <h4>Share ‘content item’ with 	&lt;user&gt; showing ‘add message’ expanded</h4>
        <%= image_tag "widgetexample_interaction_5.png", :alt => "Interaction Example" %>

        <h4>Left hand navigation item's dropdowns</h4>
        <%= image_tag "widgetexample_interaction_6.png", :alt => "Interaction Example" %>

        <h1>Forms and validation</h1>
        <h4>Input field and browse button</h4>
        <div id="interactionmodels_uploadfile">
            <span>Optional step:</span>
            <p>Upload a backend feed bundle source code repository</p>
            <input type="text"/><button type="button" class="wl-button wl-header-button blue">Browse for file</button>
        </div>

        <h4>Input field and dropdowns (standard dropdowns are fine if you don't want to style them)</h4>
        <%= image_tag "widgetexample_interaction_7.png", :alt => "Interaction Example" %>

        <h4>Forms and validation (errors)</h4>
        <%= image_tag "widgetexample_interaction_8.png", :alt => "Interaction Example" %>
    </div>
</div>