<% content_for :head do %>
    <%= stylesheet_link_tag "widgetsdk" %>
<% end %>

<div class="wl-content-container" id="widgetsdk_container">
    <div class="wl-content-710 wl-right wl-padding-15-0 wl-padding-0-10 " id="widgetsdk_content">
        <h1>Widget design and style guide</h1>
        <p>This guide will help you style your widgets allowing them to fit seemlessle into the Sakai OAE suite of Widgets maintain a high standard for content presentation, and to maintain a high level of user experience across the system.</p>

        <div class="wl-widget-item first">
            <%= image_tag "/images/developer_typehierarchy_icon.png", :alt => "Type hierarchy", :class => "descriptive_icon" %>
            <div class="descriptive_text">
                <h2>Type hierarchy</h2>
                <p>All typographic sizes for headers and body copy.</p>
                <button type="button" class="wl-button wl-header-button blue">View</button>
            </div>
        </div>

        <div class="wl-widget-item">
            <%= image_tag "/images/developer_colorpalette_icon.png", :alt => "Color palette", :class => "descriptive_icon" %>
            <div class="descriptive_text">
                <h2>Color palette</h2>
                <p>The main colours used within Sakai OAE for all aspects of the interface, from the hover states of lists to the colours used in the system messages.</p>
                <button type="button" class="wl-button wl-header-button blue">View</button>
            </div>
        </div>

        <div class="wl-widget-item">
            <%= image_tag "/images/developer_template_icon.png", :alt => "Template and image sizes", :class => "descriptive_icon" %>
            <div class="descriptive_text">
                <h2>Template and image sizes</h2>
                <p>Widths of columns within each template, allowing the created modules to fit seamlessly into the system.</p>
                <button type="button" class="wl-button wl-header-button blue">View</button>
            </div>
        </div>


        <div class="wl-widget-item">
            <%= image_tag "/images/developer_navbuttonlinkusage_icon.png", :alt => "Navigation, Button usage and link language", :class => "descriptive_icon" %>
            <div class="descriptive_text">
                <h2>Navigation, Button usage and Link language</h2>
                <p>All states of navigational items, be they primary, secondary or tertiatry for use within the page widgets, headers, and overlays.</p>
                <button type="button" class="wl-button wl-header-button blue">View</button>
            </div>
        </div>


        <div class="wl-widget-item">
            <%= image_tag "/images/developer_speechbubble_icon.png", :alt => "Iconography", :class => "descriptive_icon" %>
            <div class="descriptive_text">
                <h2>iconography</h2>
                <p>The generic style of icons has to ahear to a few basic rules. The examples here will show you ho to creat your own icons to gell with the Sakai OAE icon family.</p>
                <button type="button" class="wl-button wl-header-button blue">View</button>
            </div>
        </div>


        <div class="wl-widget-item">
            <%= image_tag "/images/developer_interaction_icon.png", :alt => "Interaction models", :class => "descriptive_icon" %>
            <div class="descriptive_text">
                <h2>Interaction models</h2>
                <p>Forms and  validation, dropdowns, expandable panels, widget settings</p>
                <button type="button" class="wl-button wl-header-button blue">View</button>
            </div>
        </div>

    </div>
    <div class="wl-content-185 wl-left wl-padding-15-0">
        <%= render :partial => "pagewidgets/lhnavigation", :locals => {:display => {:nav_context => params[:controller]}} %>
    </div>
    <hr class="wl-push wl-hidden"/>
</div>