<div class="wl-content-container" id="index_container">
    <div class="wl-content-165 wl-right">
        <%= render :partial => "recentlyadded" %>
        <%= render :partial => "mostpopular"%>
        <%= render :partial => "pagewidgets/submitwidget" %>
    </div>

    <div class="wl-content-730 wl-left">
        <div id="widgetlibrary_carousel">
            <div id="widgetlibrary_homecarousel" style="visibility:hidden;">
                <div class="slides_container">
                    <div id="carousel_state1" class="widgetlibrary_homecarousel_pane">
                        <h1>Over <strong>200</strong> ways to customize and enhance collaborative academic learning experiences</h1>
                        <h2>A 'Widget' is an app which can be used as a 'bolt on' to the installed Sakai Open Academic Environment to add additional functionality, expanding the value of the platform for tutors and students alike.</h2>
                    </div>
                    <div id="carousel_state2" class="widgetlibrary_homecarousel_pane">
                        <h1>By adding custom widgets to Sakai OAE, you’ll be enriching the learning experience for students and staff alike.</h1>
                        <h2>A handful of the Universities benefiting from Sakai OAE:</h2>
                    </div>
                    <div id="carousel_state3" class="widgetlibrary_homecarousel_pane">
                        <h1 class="size-30">Design. Code. Submit.</h1>
                        <h1>Submitting your new widget couldn’t be simpler</h1>
                        <h2>Once you’ve uploaded your widget, we will evaluate its suitability and code, and get back to you within a few days with a 'yes' or some suggested improvements. <%= link_to "Submit new widget", new_version_path, :class => "wl-link-button wl-button wl-overlay-button"%></h2>
                    </div>
                </div>
                <ul class="carousel_pagination">
                    <li class="carousel_choice" class="current">
                        <div class="carousel_choice_arrow" id="carousel_choice_arrow_1" style="display:none;"></div>
                        <%= link_to "What is a Widget?", "#0", :class => "widgetlibrary_homecarousel_navitem", "data-carousel-index" => "1" %>
                    </li>
                    <li class="carousel_choice">
                        <div class="carousel_choice_arrow" id="carousel_choice_arrow_2" style="display:none;"></div>
                        <%= link_to "Create the unexpected", "#1", :class => "widgetlibrary_homecarousel_navitem", "data-carousel-index" => "2" %>
                    </li>
                    <li class="carousel_choice">
                        <div class="carousel_choice_arrow" id="carousel_choice_arrow_3" style="display:none;"></div>
                        <%= link_to "Submit a widget", "#2", :class => "widgetlibrary_homecarousel_navitem", "data-carousel-index" => "3" %>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="wl-push wl-hidden"/>

        <%= render :partial => "toprated" %>
    </div>
    <hr class="wl-push wl-hidden"/>
</div>
