<% content_for :head do %>
    <%= stylesheet_link_tag "index" %>
<% end %>

<div class="wl-content-container" id="index_container">
    <div class="wl-content-165 wl-right">
        <%= render :partial => "pagewidgets/recentlyadded" %>
        <%= render :partial => "pagewidgets/toprated" %>
        <%= render :partial => "pagewidgets/submitwidget" %>
    </div>

    <div class="wl-content-730 wl-left">
        <%= render :partial => "pagewidgets/carousel"%>
        <%= render :partial => "pagewidgets/mostpopular"%>
    </div>
    <hr class="wl-push wl-hidden"/>
</div>