<% content_for :title do %> - <%= @developer.name %><% end %>
<div class="wl-content-container" id="developer_container">
    <div id="developer_description_container">
        <%= image_tag @developer.avatar.url(:medium), :alt => "#{@developer.name}'s Photo" %>
        <div id="developer_description">
            <h1><%= @developer.name %></h1>
            <p><%=h @developer.info %></p>
            <div id="developer_details">
                <h2>Details:</h2>
                <hr class="wl-split-line wl-push">
                <% if @developer.location %>
                  <div class="developer_details_left">Location:</div><div class="developer_details_right"><%= @developer.location %></div>
                  <hr class="wl-split-line wl-push">
                <% end %>
                <% if @developer.occupation %>
                  <div class="developer_details_left">Occupation:</div><div class="developer_details_right"><%= @developer.occupation %></div>
                  <hr class="wl-split-line wl-push">
                <% end %>
                <% if @developer.homepage %>
                  <div class="developer_details_left">Homepage:</div><div class="developer_details_right"><%= link_to @developer.homepage, @developer.homepage, :target => "_blank", :class => "wl-regular-link" %></div>
                  <hr class="wl-split-line wl-push">
                <% end %>
                <div class="developer_details_left">User since:</div><div class="developer_details_right"><%= @developer.created_at.strftime("%B %e, %Y") %></div>
                <hr class="wl-split-line wl-push">
                <div class="developer_details_left">No. of Widgets Developed:</div><div class="developer_details_right"><%= @developer.widgets.size %></div>
                <hr class="wl-split-line wl-push">
                <div class="developer_details_left">Average rating for their Widgets:</div><div class="developer_details_right">
                    <%= render :partial => "pagewidgets/rating", :locals => {:stars => @developer.widget_average_rating, :display => {} }  %>
                </div>
                <hr class="wl-split-line wl-push">
            </div>
        </div>
    </div>
    <hr class="wl-push wl-hidden">
    <% if @developer.widgets.size > 0 %>
    <div id="developer_widgetsbydeveloper" class="wl-inset-shadow-container">
        <h1>Widgets by this developer</h1>
        <%= render :partial => "core/widget", :locals => {:display => {:rating => true, :author => true, :num_ratings => true, :title_length => "medium"}}, :collection => @widgets %>
        <hr class="wl-push wl-hidden">
    </div>
    <% end %>
</div>
