<div id="footer_container" class="wl-centered">
    <div id="footer_logo"></div>
    <div id="footer_menu">
        <%= link_to "Home", root_path, :class => "wl-regular-link wl-bold" %>
        <%= link_to "Browse", browse_path,  :class => "wl-regular-link wl-bold" %>
        <% if user_signed_in? %>
        <%= link_to "My Widgets", mywidgets_path, :class => "wl-regular-link wl-bold" %>
        <% end %>
        <%= link_to "Developer", sdk_path, :class => "wl-regular-link wl-bold" %>
        <%= link_to "Submit", submit_path, :class => "wl-regular-link wl-bold" %>
    </div>
    <p><strong>Open Academic Environment</strong></p>
    <p>&copy; The Sakai Foundation <span id="footer_date_end">2011</span> All rights reserved
    <hr class="wl-split-line wl-push"/>
</div>
