<nav id="widgetlibrary_navigation">
    <div id="search_widgets_search_results">
        <form id="search_widgets_search_form" method="post" data-remote="true" action="/search" accept-charset="UTF-8">
            <input id="search_widgets" type="text" placeholder="Search Widget name / Category / Type..."/>
        </form>
        <div id="search_widgets_results" style="display:none;">

        </div>
    </div>

    <ul class="wl-bold">
        <li class="navigation_item<% if params[:controller].eql?("home") %> selected<% end %>"><%= link_to "Home", root_path %></li>
        <li class="navigation_item<% if params[:controller].eql?("browse") || params[:controller].eql?("widget") && !@error %> selected<% end %>"><%= link_to "Browse", browse_path %></li>
        <% if user_signed_in? %>
        <li class="navigation_item<% if params[:controller].eql?("mywidgets") %> selected<% end %>"><%= link_to "My Widgets", mywidgets_path %></li>
        <% end %>
        <li class="navigation_item<% if params[:controller].eql?("sdk") %> selected<% end %>"><%= link_to "Developer", sdk_path %></li>
        <li class="navigation_item<% if params[:controller].eql?("submit") %> selected<% end %>"><%= link_to "Submit", new_version_path %></li>
    </ul>
</nav>