<div id="top-line"></div>
<div id="widgetlibrary_useractions" class="wl-centered">
    <div id="useractions_container">
        <% if show %>
        <ul>
            <% if user_signed_in? %>
                <li><span>Hi <%= link_to current_user.first_name, user_path(:id => current_user.id, :url_title => current_user.url_title) %></span></li>
                <li><%= link_to "Logout", logout_path %></li>
            <% else %>
                <li>
                    <span>Hi Guest</span>
                </li>
                <span class="wl-left wl-margin-top-9">|</span>
                <li <% if params[:controller].eql?("register")%>class="selected"<% end %>>
                    <%= link_to "Register", user_registration_path %>
                </li>
                <span class="wl-left wl-margin-top-9">|</span>
                <li class="wl-dropdown-menu">
                    <button type="button" class="wl-link-button">
                        <div id='useractions_arrow_down'></div>
                        Sign In
                    </button>
                    <div class="wl-dropdown-container" id="useractions_login_fields" style="display:none;">
                        <%= form_tag(user_session_path, :method => "POST", :id => "useractions_login_form", :class => "wl-form-field-wrapper", :remote => true) do%>
                            <div class="wl-dropdown-menu-content-container" id="useractions_login_fields_container">
                                <%= hidden_field_tag "user[remember_me]", 1 %>
                                <%= label_tag "user[username]", "Username" %>
                                <div style="display:none;" id="useractions_login_error">
                                    <span class="wl-error">Invalid Username or Password</span>
                                </div>
                                <%= text_field_tag "user[username]", nil, :class => "login-container-textfield" %>
                                <%= label_tag "user[password]", "Password" %>
                                <%= text_field_tag "user[password]", nil, :class => "login-container-textfield", :type => "password" %>
                                <span class="useractions_forgot_username">Forgot your <%= link_to "username or password?", new_user_password_path, :class => "wl-regular-link" %></span>
                                <hr class="wl-split-line wl-push">
                                <%= submit_tag "Sign in", :name => "commit", :id => "useractions_login_button_login", :class => "wl-button wl-overlay-button" %>
                                <span style="display:none;" id="useractions_login_button_signing_in">Signing In ...</span>
                                <hr class="wl-push wl-hidden">
                            </div>
                        <% end %>
                    </div>
                </li>
            <% end %>
        </ul>
        <% end %>
    </div>
</div>
