<div id="top-line"></div>
<div id="widgetlibrary_useractions" class="wl-centered">
    <div id="useractions_container">
        <% if show %>
        <ul>
            <% if user_signed_in? %>
                <li><span>Hi <%= "#{current_user.first_name}" %></span></li>
                <li><%= link_to "Logout", logout_path %></li>
            <% else %>
                <li><span>Hi Guest</span></li>|
                <li <% if params[:controller].eql?("register")%>class="selected"<% end %>><a href="/register">Register</a></li>|
                <li class="wl-dropdown-menu"><a href="#"><div id="useractions_arrow_down"></div>Sign In</a>
                    <div class="wl-dropdown-container" id="useractions_login_fields" style="display:none;">
                        <%= form_tag(user_session_path, :method => "POST", :id => "useractions_login_form", :class => "wl-form-field-wrapper", :remote => true) do%>
                            <div class="wl-dropdown-menu-content-container" id="useractions_login_fields_container">
                                <%= hidden_field_tag "user[remember_me]", 1 %>
                                <%= label_tag "user[username]", "Username" %>
                                <div style="display:none;" id="useractions_login_error">
                                    <span class="wl-error">Invalid Username or Password</span>
                                </div>
                                <%= text_field_tag "user[username]", nil, :class => "login-container-textfield" %>
                                <%= label_tag "user[password]", "Password" %>
                                <%= text_field_tag "user[password]", nil, :class => "login-container-textfield", :type => "password" %>
                                <span class="useractions_forgot_username">Forgot your <a href="#" class="wl-regular-link">username or password?</a></span>
                                <hr class="wl-split-line wl-push">
                                <%= submit_tag "Sign in", :name => "commit", :id => "useractions_login_button_login", :class => "wl-button wl-overlay-button" %>
                                <span style="display:none;" id="useractions_login_button_signing_in">Signing In ...</span>
                                <hr class="wl-push wl-hidden">
                            </div>
                        <% end %>
                    </div>
                </li>
            <% end %>
        </ul>
        <% end %>
    </div>
</div>
