<div class="wl-widget-item">
    <% if !display.blank? && display[:status] %>
        <div class="widget_review_status widget_approved"></div>
    <% end %>
    <%= image_tag widget.icon, :class => "wl-widget-item-icon" %>
    <%= link_to truncate(widget.title, :length => 23, :omission => "..."), widget_path({:widget_title => urlize(widget.title)}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname" %>
    <% if !display.blank? %>
      <% if display[:added] %>
          <span>added <%= custom_ago(widget.created_at) %></span>
          <% end %>
      <% if display[:author] %>
          <span>by <%= link_to widget.user.name, developer_page_path({:developer_name => urlize(widget.user.name)}), :class => "wl-regular-link" %></span>
      <% end %>
      <% if display[:rating] %>
          <%= render :partial => "pagewidgets/rating", :locals => { :display => display, :stars => widget.average_rating, :num_ratings => widget.ratings.size } %>
      <% end %>
      <% if false # if display[:users] %>
          <a href="#" title="65 users" class="wl-regular-link wl-number-of-users">65 users</a>
      <% end # end %>
      <% if display[:desc] %>
          <p><%= widget.description %></p>
      <% end %>
    <% end %>
</div>