<div class="wl-widget-item wl-widget-ellipsis-container">

    <% if !display.blank? %>

        <% if display[:icon_size] && display[:icon_size].eql?("smaller")  %>
          <%= link_to image_tag(widget.icon.url(:smaller), :class => "wl-widget-item-icon"), widget_path({:title => widget.url_title}) %>
        <% else %>
          <%= link_to image_tag(widget.icon.url(:thumb), :class => "wl-widget-item-icon"), widget_path({:title => widget.url_title}) %>
        <% end %>

        <% if display[:status] %>
            <div class="widget_review_status widget_<%= widget.state.title.downcase %>"></div>
        <% end %>

        <% ellipsis = display[:ellipsis] ||= 2 %>

        <div class="wl-widget-ellipsis wl-widget-ellipsis-<%= ellipsis %>" data-ellipsis="<%= ellipsis %>"><%= link_to widget.title, widget_path({:title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname", :title => widget.title %></div>

        <% if display[:added] %>
            <span>Added <%= custom_ago(widget.released_on) %></span>
        <% end %>

        <% if display[:author] %>
            <div class="wl-widget-ellipsis wl-widget-ellipsis-<%= ellipsis %>" data-ellipsis="<%= ellipsis %>">by <%= link_to widget.user.name, user_path(:id => widget.user.id, :url_title => widget.user.url_title), :class => "wl-regular-link" %></div>
        <% end %>

        <% if display[:rating] %>
            <%= render :partial => "pagewidgets/rating", :locals => { :display => display, :stars => widget.average_rating, :num_ratings => widget.ratings.size, :widget => widget } %>
        <% end %>

        <% if false # if display[:users] %>
            <button type="button" class="wl-link-button">65 users</button>
        <% end # end %>

        <% if display[:desc] %>
            <% case display[:desc_length] %>
            <% when "short" %>
              <p><%= truncate(widget.description, :length => 200, :omission => "...") %></p>
            <% else %>
              <p><%= widget.description %></p>
            <% end %>
        <% end %>

    <% else %>

        <%= link_to truncate(widget.title, :length => 13, :omission => "..."), widget_path({:title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname", :title => widget.title %>

    <% end %>

</div>
