<div class="wl-widget-item">

    <%= image_tag widget.icon, :class => "wl-widget-item-icon" %>

    <% if !display.blank? %>

        <% if display[:status] %>
            <div class="widget_review_status widget_<%= widget.state.title.downcase %>"></div>
        <% end %>

        <% case display[:title_length] %>
        <% when "long" %>
            <%= link_to truncate(widget.title, :length => 50, :omission => "..."), widget_path({:widget_title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname" %>
        <% when "medium" %>
            <%= link_to truncate(widget.title, :length => 25, :omission => "..."), widget_path({:widget_title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname" %>
        <% else %>
            <%= link_to truncate(widget.title, :length => 13, :omission => "..."), widget_path({:widget_title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname" %>
        <% end %>

        <% if display[:added] %>
            <span>Added <%= custom_ago(widget.released_on) %></span>
        <% end %>

        <% if display[:author] %>
            <span>by <%= link_to widget.user.name, developer_page_path({:developer_name => widget.user.url_title}), :class => "wl-regular-link" %></span>
        <% end %>

        <% if display[:rating] %>
            <%= render :partial => "pagewidgets/rating", :locals => { :display => display, :stars => widget.average_rating, :num_ratings => widget.ratings.size } %>
        <% end %>

        <% if false # if display[:users] %>
            <%= link_to "65 users", "javascript:;", :class => "wl-regular-link wl-number-of-users" %>
        <% end # end %>

        <% if display[:desc] %>
            <% case display[:desc_length] %>
            <% when "short" %>
              <p><%= truncate(widget.description, :length => 200, :omission => "...") %></p>
            <% else %>
              <p><%= widget.description %></p>
            <% end %>
        <% end %>

    <% else %>

        <%= link_to truncate(widget.title, :length => 13, :omission => "..."), widget_path({:widget_title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname" %>

    <% end %>

</div>
