<div class="wl-widget-item">
    <%= link_to image_tag(widget.icon, :class => "wl-widget-item-icon"), widget_path({:title => widget.url_title}) %>

    <% if !display.blank? %>

        <% if display[:status] %>
            <div class="widget_review_status widget_<%= widget.state.title.downcase %>"></div>
        <% end %>

        <% case display[:title_length] %>
        <% when "long" %>
            <%= link_to truncate(widget.title, :length => 50, :omission => "..."), widget_path({:title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname", :title => widget.title %>
        <% when "medium" %>
            <%= link_to truncate(widget.title, :length => 20, :omission => "..."), widget_path({:title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname", :title => widget.title %>
        <% else %>
            <%= link_to truncate(widget.title, :length => 12, :omission => "..."), widget_path({:title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname", :title => widget.title %>
        <% end %>

        <% if display[:added] %>
            <span>Added <%= custom_ago(widget.released_on) %></span>
        <% end %>

        <% if display[:author] %>
            <span>by <%= link_to widget.user.name, user_path(:id => widget.user.id, :url_title => widget.user.url_title), :class => "wl-regular-link" %></span>
        <% end %>

        <% if display[:rating] %>
            <%= render :partial => "pagewidgets/rating", :locals => { :display => display, :stars => widget.average_rating, :num_ratings => widget.ratings.size, :widget => widget } %>
        <% end %>

        <% if false # if display[:users] %>
            <button type="button" class="wl-link-button">65 users</button>
        <% end # end %>

        <% if display[:desc] %>
            <% case display[:desc_length] %>
            <% when "short" %>
              <p><%= truncate(widget.description, :length => 200, :omission => "...") %></p>
            <% else %>
              <p><%= widget.description %></p>
            <% end %>
        <% end %>

    <% else %>

        <%= link_to truncate(widget.title, :length => 13, :omission => "..."), widget_path({:title => widget.url_title}), :class => "wl-regular-link wl-bold wl-widget-item_widgetname", :title => widget.title %>

    <% end %>

</div>
