<div id="widget_description_container">
    <h1 class="widget_accepted_header" style="display:none;">Your Widget has been accepted!</h1>
    <h1 class="widget_declined_header" style="display:none;">Your Widget has been declined, please read the '<a href="#" class="wl-regular-link" title="Steps needed to improve the widget">Steps needed to improve the widget</a>' before resubmission</h1>
    <hr class="wl-split-line" style="display:none;"/>

  <div id="widget_download">
      <%= image_tag @widget.icon.url(:medium), :alt => "#{@widget.title} preview" %>
      <a target="_blank" class="wl-button wl-header-button" href="/system/codes/<%= @widget.id %>/original/<%= @widget.code_file_name %>">Download</a>
  </div>
  <div id="widget_description">
      <h1 class="wl-bold"><%= @widget.title %> <span id="widget_version"></span></h1>
      by <%= link_to @widget.user.name, developer_page_path({:developer_name => u(@widget.user.name)}), :title => "by #{@widget.user.name}", :class => "wl-regular-link" %>
      <p><%= @widget.description %></p>
  </div>
  <div id="widget_details">
      <div>
          <%= render :partial => "pagewidgets/rating", :locals => { :stars => @widget.average_rating, :num_ratings => @widget.ratings.size, :display => { :num_ratings => true } } %>
          <hr class="wl-push wl-hidden"/>
      </div>
      <hr class="wl-split-line wl-push"/>
      <h1>Information</h1>
      <ul>
          <% if @widget.categories.size > 0 %>
          <li><span>Categories:</span>
            <ul>
              <% @widget.categories.each do |category| %>
                <li><%= link_to category.title, category_path({:category_title => category.title}), :class => "wl-regular-link" %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <li><span>Developer:</span><span><%= link_to @widget.user.name, developer_page_path({:developer_name => u(@widget.user.name)}), :title => "by #{@widget.user.name}", :class => "wl-regular-link" %></span></li>
          <% if @widget.languages.size > 0 %>
          <li>
            <span>Languages:</span>
              <ul>
                <% @widget.languages.each do |language| %>
                  <li><%= language.title %></li>
                <% end %>
              </ul>
          </li>
          <% end %>
          <li><span>Released:</span><span><%= @widget.released_on.strftime("%B %e, %Y") %></span></li>
      </ul>
  </div>
</div>
<hr class="wl-push wl-hidden"/>
