<div id="widget_description_container">
  <% if @latest_version %>
    <% if can_view_admin_area? && @latest_version.state.id.eql?(State.pending) %>
      <%= render :partial => "admin_actions" %>
    <% end %>
    <div id="latest_version">
      <%
        if @latest_version.state.id.eql?(State.pending)
          state = "is pending review"
          hclass = "widget_declined_header"
        else
          state = "has been declined"
          hclass = "widget_declined_header"
        end
      %>
      <h1 class="<%= hclass %>">Version <%= @latest_version.version_number %>, submitted on <%= @latest_version.created_at.localtime.strftime("%B %e, %Y %l:%M%P") %>, <%= state %></h1>
      <% if @latest_version.state.id.eql?(State.declined) && @latest_version.notes %>
        <h3>Notes from the reviewer:</h3>
        <p><%= @latest_version.notes %></p>
      <% end %>
      <% if @widget.user == current_user %>
        <%= link_to "Submit a new version", edit_version_path(@widget.id), :class => "wl-regular-link wl-bold submit_new_version_link" %>
      <% end %>
    </div>
  <% end %>
  <hr class="wl-split-line" style="display:none;"/>
  <div id="widget_download">
      <%= image_tag @widget.icon.url(:medium), :alt => "#{@widget.title} preview" %>
      <%= link_to "Download", @widget.code.url, :target => "_blank", :class => "wl-button wl-header-button"%>
      <% if @widget.bundle.url %>
        <%= link_to "Download Backend Bundle", @widget.bundle.url, :target => "_blank", :class => "wl-button wl-header-button"%>
      <% end %>
  </div>
  <div id="widget_description">
      <h1 class="wl-bold"><%= @widget.title %> <span id="widget_version"></span></h1>
      by <%= link_to @widget.user.name, user_path(@widget.user.url_title), :class => "wl-regular-link" %>
      <p><%= @widget.description %></p>
  </div>
  <div id="widget_details">
      <div>
          <%= render :partial => "pagewidgets/rating", :locals => { :stars => @widget.average_rating, :num_ratings => @widget.ratings.size, :display => { :num_ratings => true } } %>
          <hr class="wl-push wl-hidden"/>
      </div>
      <hr class="wl-split-line wl-push"/>
      <h1>Information</h1>
      <ul>
          <% if @widget.categories.size > 0 %>
          <li><span>Categories:</span>
            <ul>
              <% @widget.categories.each do |category| %>
                <li><%= link_to category.title, category_path({:category_title => category.url_title}), :class => "wl-regular-link" %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <li><span>Developer:</span><span><%= link_to @widget.user.name, user_path(@widget.user.url_title), :class => "wl-regular-link" %></span></li>
          <% if @widget.languages.size > 0 %>
          <li>
            <span>Languages:</span>
              <ul>
                <% @widget.languages.each do |language| %>
                  <li><%= language.title %></li>
                <% end %>
              </ul>
          </li>
          <% end %>
          <% if @widget.version_number %>
            <li><span>Version:</span><span><%= @widget.version_number %></span></li>
          <% end %>
          <% if @widget.released_on %>
            <li><span>Released:</span><span><%= @widget.released_on.strftime("%B %e, %Y") %></span></li>
          <% end %>
          <% unless @widget.widget_repo.blank? %>
            <li><span>Source repository:</span><span><%= link_to @widget.widget_repo, @widget.widget_repo, :class => "wl-regular-link" %></span></li>
          <% end %>
          <% unless @widget.widget_backend_repo.blank? %>
            <li><span>Backend source repository:</span><span><%= link_to @widget.widget_backend_repo, @widget.widget_backend_repo, :class => "wl-regular-link" %></span></li>
          <% end %>
      </ul>
  </div>
</div>
<hr class="wl-push wl-hidden"/>
