<% content_for :head do %>
    <%= stylesheet_link_tag "widget" %>
<% end %>

<div class="wl-content-container" id="widget_container">
    <%= render :partial => "description" %>
    
    <%= render :partial => "details" %>
    
    <%= render :partial => "relatedwidgets" %>
    <hr class="wl-hidden wl-push"/>
</div>

<%= render :partial => "newversion" %>