<% content_for :title do %> - <%= @widget.title %><% end %>

<div class="wl-content-container" id="widget_container">
    <%= render :partial => "top_info" %>
    
    <%= render :partial => "tabs" %>

    <%= render :partial => "newversion" %>

    <%= render :partial => "relatedwidgets" %>

    <hr class="wl-hidden wl-push"/>
</div>