<div class="wl-content-container">
  <h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "wl-form-field-wrapper" }, :remote => true) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <span id="user_password_error" class="wl-error" style="display:none"></span>
  <%= f.label :password_label, "New password" %>
  <%= f.password_field :password_label %>

  <hr class="wl-hidden wl-push" />

  <span id="user_password_confirmation_error" class="wl-error" style="display:none"></span>
  <%= f.label :password_confirmation, "Confirm new password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Change my password", :class => "wl-button wl-overlay-button" %>
<% end %>

</div>