<!DOCTYPE html>
<html>
    <head>
        <title>Sakai OAE Widget Library<%= yield :title %></title>
        <%= stylesheet_link_tag "application" %>
        <%= stylesheet_link_tag "prettify-sakai-edited" %>
        <%= page_css %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "prettify" %>
        <%= javascript_include_tag "lang-clj" %>
        <%= javascript_include_tag "lang-hs" %>
        <%= javascript_include_tag "lang-ml" %>
        <%= javascript_include_tag "lang-scala" %>
        <%= javascript_include_tag "lang-vb" %>
        <%= javascript_include_tag "lang-xq" %>
        <%= javascript_include_tag "lang-css" %>
        <%= javascript_include_tag "lang-lisp" %>
        <%= javascript_include_tag "lang-n" %>
        <%= javascript_include_tag "lang-sql" %>
        <%= javascript_include_tag "lang-vhdl" %>
        <%= javascript_include_tag "lang-yaml" %>
        <%= javascript_include_tag "lang-apollo" %>
        <%= javascript_include_tag "lang-go" %>
        <%= javascript_include_tag "lang-lua" %>
        <%= javascript_include_tag "lang-proto" %>
        <%= javascript_include_tag "lang-tex" %>
        <%= javascript_include_tag "lang-wiki" %>
        <%= csrf_meta_tag %>
        <%= yield :head %>
    </head>
    <body class="<%= "#{params[:controller].gsub("/", "_")} #{params[:action]}" %>">

    <%= render :partial => "core/useractions", :locals => {:show => show_login} %>

    <div class="wl-page-container wl-centered">
        <div class="wl-container-shadow-left"></div>
        <div class="wl-container-shadow-right"></div>
        <%= render :partial => "core/header" %>
        <h1 id="admin_header">Admin Area</h1>
        <%= render :partial => "admin/nav" %>

        <div class="wl-content-container">
            <div class="wl-content-710 wl-right wl-padding-15-0 wl-padding-0-10 wl-content-right-container">
                <%= yield %>
            </div>
            <div class="wl-content-185 wl-left wl-padding-15-0">
                <%= render :partial => "#{params[:controller]}/lhnav" %>
            </div>
            <hr class="wl-push wl-hidden" />
        </div>
        <hr class="wl-push wl-hidden" />
    </div>

    <%= render :partial => "core/footer" %>

    <%= page_js %>

    </body>
</html>
