<!DOCTYPE html>
<html>
<head>
    <title>Sakai OAE Widget Store</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
</head>
<body class="<%= "#{params[:controller].gsub("/", "_")} #{params[:action]}" %>">

<%= render :partial => "core/useractions", :locals => {:show => show_login} %>

<div class="wl-page-container wl-centered">
    <div class="wl-container-shadow-left"></div>
    <div class="wl-container-shadow-right"></div>
    <%= render :partial => "core/header" %>
    <%= render :partial => "core/navigation" %>

    <%= yield %>
</div>

<%= render :partial => "core/footer" %>

</body>
</html>
