<!DOCTYPE html>
<html>
<head>
    <title>Sakai OAE Widget Store</title>
    <%= stylesheet_link_tag "core" %>
    <%= stylesheet_link_tag "lhnavigation" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
</head>
<body>

<%= render :partial => "core/useractions" %>

<div class="wl-page-container wl-centered">
    <div class="wl-container-shadow-left"></div>
    <div class="wl-container-shadow-right"></div>
    <%= render :partial => "core/header" %>
    <%= render :partial => "core/navigation" %>

    <div class="wl-content-container">
        <div class="wl-content-710 wl-right wl-padding-15-0 wl-padding-0-10 wl-content-right-container">
            <%= yield %>
        </div>
        <div class="wl-content-185 wl-left wl-padding-15-0">
            <%= render :partial => "pagewidgets/lhnavigation", :locals => {:display => {:nav_context => params[:controller]}} %>
        </div>
        <hr class="wl-push wl-hidden" />
    </div>
</div>

<%= render :partial => "core/footer" %>

</body>
</html>
